<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Optional_Assignment2 <br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A text is given below. Write a program to find the character which is at the index position obtained by adding the indices of the character 'o' of the word 'Hello' and 'o' of the word 'welcome'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>string = "Hello, welcome to my world." </b>

In [36]:
# type your code here
string = "Hello, welcome to my world."
combined_index = string.find('o') + string.rfind('o')
print("Indices of the character 'o' of the word 'Hello' and 'o' of the word 'welcome' is {} and {}".format(string.find('o'), string.rfind('o')))
print("Element at index {} is {} in the string {}".format(combined_index, string[combined_index], string))

Indices of the character 'o' of the word 'Hello' and 'o' of the word 'welcome' is 4 and 22
Element at index 26 is . in the string Hello, welcome to my world.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 1. Create a tuple with single value '5'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [44]:
# type your code here
tup = 5,
print("Length of tuple is {} and value is {}".format(len(tup), tup))

Length of tuple is 1 and value is (5,)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a program that takes two dictionaries and concatenates them into one dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below dictionaries:**

dictionary_1 = {'A':1, 'B':2}<br>

dictionary_2 = {'C':3}

In [57]:
# type your code here

dictionary_1 = {'A':1, 'B':2}
dictionary_2 = {'C':3}

def combine_dictionary(dictionary_1, dictionary_2):
    dictionary_1.update(dictionary_2)

combine_dictionary(dictionary_1, dictionary_2)
    
print(dictionary_1)

{'A': 1, 'B': 2, 'C': 3}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Check whether the set X and Y are disjoint or not </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sets below (or create your own sets):**

#### Set X
X = {4, 5, 11, 34, 4, 56, 44, 67, 67, 5, 12, 34, 16, 9, 22, 23, 56, 34, 33, 89, 78, 45, 33, 78, 34, 45, 12, 45, 56 }

#### Set Y
Y = {41, 52, 63, 56, 67, 45, 99, 56, 45, 23, 45, 63, 45, 56, 45, 55, 56, 56, 12, 86, 67, 55, 56, 34, 89}

In [60]:
# type your code here

X = {4, 5, 11, 34, 4, 56, 44, 67, 67, 5, 12, 34, 16, 9, 22, 23, 56, 34, 33, 89, 78, 45, 33, 78, 34, 45, 12, 45, 56 }
Y = {41, 52, 63, 56, 67, 45, 99, 56, 45, 23, 45, 63, 45, 56, 45, 55, 56, 56, 12, 86, 67, 55, 56, 34, 89}
if len(X.intersection(Y)) > 0:
    print("Not Disjoint as common  set elements are {}".format(X.intersection(Y)))
else:
    print("Disjoint")

Not Disjoint as common  set elements are {34, 67, 12, 45, 23, 56, 89}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Retrieve the third element in the given list</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**
    
num_list = [5, 3, 6, 1, 85, 23, 5, 13]

In [62]:
# type your code here

num_list = [5, 3, 6, 1, 85, 23, 5, 13]
print("3rd element in the list is {}".format(num_list[2]))

3rd element in the list is 6

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Count the occurance of number -6 in the given tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple given below:**
    
num_tuple = (-4, 7, -8, -9, 8, -6, 7, 3, -6, 1, -8, -6)

In [64]:
# type your code here
num_tuple = (-4, 7, -8, -9, 8, -6, 7, 3, -6, 1, -8, -6)

print("Number -6 occurs {} times in the tuple {}".format(num_tuple.count(-6), num_tuple))

Number -6 occurs 3 times in the tuple (-4, 7, -8, -9, 8, -6, 7, 3, -6, 1, -8, -6)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 6. Check whether the number 53 is in the given list or not</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**
    
num_list = [5, 3, 6, 1, 85, 23, 5, 13]

In [65]:
# type your code here
num_list = [5, 3, 6, 1, 85, 23, 5, 13]
print("Number 53's presence in {} is {}".format(num_list, 53 in num_list))

Number 53's presence in [5, 3, 6, 1, 85, 23, 5, 13] is False

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 7. Remove number 3 from a given set </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the set below:**

numbers = {2, 3, 4, 5}

In [72]:
# type your code here
numbers = {2, 3, 4, 5}

print("Before {}".format(numbers))
numbers.remove(3)
print("After {}".format(numbers))

Before {2, 3, 4, 5}
After {2, 4, 5}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a program to convert a list into tuple  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list below:**

num_list = [24, 18, 24, 47, 52]

In [74]:
# type your code here
num_list = [24, 18, 24, 47, 52]
print("type of {} is {}".format(num_list, type(num_list)))
print("type of {} is {}".format(tuple(num_list), type(tuple(num_list))))

type of [24, 18, 24, 47, 52] is <class 'list'>
type of (24, 18, 24, 47, 52) is <class 'tuple'>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a program to retrieve the capital of 'Germany' from a given dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary given below:**

europe = { 'Spain': { 'Capital':'Madrid', 'Population':4.77 },
           'France': { 'Capital':'Paris', 'Population':6.7 },
           'Germany': { 'Capital':'Berlin', 'Population':8.28 },
           'Norway': { 'Capital':'Oslo', 'Population':0.533 } }

In [76]:
# type your code here
europe = { 'Spain': { 'Capital':'Madrid', 'Population':4.77 }, 'France': { 'Capital':'Paris', 'Population':6.7 }, 'Germany': { 'Capital':'Berlin', 'Population':8.28 }, 'Norway': { 'Capital':'Oslo', 'Population':0.533 } }

print("Capital of Germany is {}".format(europe['Germany']['Capital']))

Capital of Germany is Berlin

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Find maximum and the minimum value from a given set </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the elements:**
    
5, 10, 3, 15, 2, 20, 10, 5, 4, 3

In [81]:
# type your code here

set_element = (5, 10, 3, 15, 2, 20, 10, 5, 4, 3)
print("max and min of set {} are {} and {}".format(set_element, min(set_element), max(set_element)))

max and min of set (5, 10, 3, 15, 2, 20, 10, 5, 4, 3) are 2 and 20

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Use list comprehension to find words whose length is less than 5 from the given multi-dimensional list</b>
                    <br>
                </font>
            </div>
        </td>
    </tr>
</table>

**astro = [['sky', 'sun', 'moon'], ['star', 'Jupiter', 'mars'], ['Jupiter', 'Neptune', 'Pluto']] **

In [93]:
# type your code here
astro = [['sky', 'sun', 'moon'], ['star', 'Jupiter', 'mars'], ['Jupiter', 'Neptune', 'Pluto']]
print([[element for element in elements if len(element) < 5] for elements in astro ])

[['sky', 'sun', 'moon'], ['star', 'mars'], []]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Write a program to remove space from keys of the given dictionary (use for loop)  </b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**fruity = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange', 
                'Fruits 0 3 ': 'Grapes'}**

**(Output) New dictionary :   {'Fruits01': 'Apple', 'Fruits02': 'Orange', 'Fruits03': 'Grapes'}**

In [113]:
# type your code here
fruity = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange', 'Fruits 0 3 ': 'Grapes'}
fruit_keys = fruity.keys()
fruit_values = fruity.values()
print(dict(fruity))
fruit_keys = [key.replace(" ", "") for key in fruit_keys]
new_dictionary = zip(fruit_keys,fruit_values)
print(dict(new_dictionary))

{'Fruits 01': 'Apple', 'Fruits 02': 'Orange', 'Fruits 0 3 ': 'Grapes'}
{'Fruits01': 'Apple', 'Fruits02': 'Orange', 'Fruits03': 'Grapes'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Write a program to create a 5x3 matrix with values in each row as 1,2, and 3 (use list comprehension)</b>
                    <br>
                 </font>
            </div>
        </td>
    </tr>
</table>

In [121]:
# type your code here
matrix  = []
[ matrix.append([element for element in range(1, 4)]) for index in range(5)]
print(matrix)

[[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Define a function to filter the marks from the tuple "tmarks" that are greater than 40 and print corresponding names from the "tnames" tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>tnames = ('John','Sharon','Jack','Annie')</b><br>
<b>tmarks = (32,50,75,12)</b>

In [131]:
# type your code here
tnames = ('John','Sharon','Jack','Annie')
tmarks = (32,50,75,12)

def filter_function(marks):
    if marks > 40:
        return marsk

dictionary = zip(tmarks, tnames)
print(dict(dictionary).keys())
print([ dictionary[key] for key in dictionary if  int(key) > 40])

dict_keys([32, 50, 75, 12])
[]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 15. Find the cumulative average of the list [9,8,7,6,5] using accumulate() and lambda function</b><br>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>Input list: [9,8,7,6,5]</b>

In [27]:
# type your code here
import itertools

input_list = [9,8,7,6,5]
print(list(itertools.accumulate(input_list, lambda x,y  : (x+y)/2)))

[9, 8.5, 7.75, 6.875, 5.9375]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. A list of words is given. Convert the words into uppercase (use lambda and map functions)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>lsbool = ['True','FALse','tRUe','tRue','False','faLse','True']</b><br>
<b>Output: ['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'TRUE']</b>

In [11]:
# type your code here

lsbool = ['True','FALse','tRUe','tRue','False','faLse','True']

output = map(lambda x : x.upper() , lsbool)
print("Converted words from \n{} \nto upper case \n{}".format(lsbool, list(output)))

Converted words from
['True', 'FALse', 'tRUe', 'tRue', 'False', 'faLse', 'True']
to upper case
['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'TRUE']