<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Day 1)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Using print()](#print)**
2. **[Data types](#types)**
3. **[Arithmetic Operations](#arithmetic)**
4. **[Boolean Operations](#boolean)**
5. **[Concatenation](#concatenation)**
6. **[Pseudo Codes](#pseudo)**

### Let's begin with some hands-on practice exercises

<a id="print"> </a>
## 1. Using print()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. To display a statement. For example, "Hello, How are you?" </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
print('Hello, How are you?')

Hello, How are you?

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Display the following pattern using print() </b>
                </font>
            </div>
        </td>
    </tr>
</table>

            *    
           ***    
          *****   
         *******  
        *********

In [20]:
# type your code here
index = 5
multiplier = 2
string = '*'

def print_pyramid(count, input_string):
    if count > 0:
        print('{: ^10}'.format(input_string))
        input_string = string + input_string + string
        count = count - 1
        print_pyramid(count, input_string)

print_pyramid(index, string)

    *
   ***
  *****
 *******
*********

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write the alphabets 'A', 'B', 'C' on new lines using a single print function. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [21]:
# type your code here
print('A\nB\nC\n')

A
B
C

<a id="types"> </a>
## 2. Data types

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Create a string, a numeric and boolean variables by assigning variable names. Further, check their datatype. For numeric variable check for whole numbers and numbers with decimal point.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Declare a string variable and check its data type.**

In [26]:
# type your code here
string_variable = 'Hello'

print('data type of string_variable with value {} is {}'.format(string_variable, type(string_variable)))

data type of string_variable with value Hello is <class 'str'>

**Declare a numeric variable and check its data type.** <br>
i. An interger variable.

In [27]:
# type your code here
int_variable = 10
print('data type of int_variable with value {} is {}'.format(int_variable, type(int_variable)))

data type of int_variable with value 10 is <class 'int'>

ii. A fractional variable

In [28]:
# type your code here
float_variable = 10.10
print('data type of float_variable with value {} is {}'.format(float_variable, type(float_variable)))

data type of float_variable with value 10.1 is <class 'float'>

**Declare a boolean variable and check its data type.**

In [29]:
# type your code here
boolean_variable = False
print('data type of boolean_variable with value {} is {}'.format(boolean_variable, type(boolean_variable)))

data type of boolean_variable with value False is <class 'bool'>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a complex number and assign it the name 'comp_var'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [31]:
# type your code here
comp_var = 3+5j
print('data type of comp_var with value {} is {}'.format(comp_var, type(comp_var)))

data type of comp_var with value (3+5j) is <class 'complex'>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Convert a float variable f = 23.45 to integer.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [37]:
# type your code here
float_variable = 23.45
int_variable = int(float_variable)
print(int_variable)

23

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Create a numberic variable and convert it to a string.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [39]:
# type your code here
int = 12
int_string = str(int)
print(type(int_string))

<class 'str'>

<a id="arithmetic"></a>
## 3. Arithmetic Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Evaluate 145 into 354 minus 1345 divided by 45 plus (462 plus 23) divided by 3. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [40]:
# type your code here
print(145 * 345 - 1345 / 45 + ( 462 + 23 ) / 3)

50156.777777777774

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Evaluate  and print the results of the following <br>
                        <ol type = '1'> 
                            <li> 1353 plus 234 </li> 
                            <li> 2355 minus 346 </li>
                            <li> 234 times 457 </li>
                            <li> 25 divided by 6 </li>
                            <li> Obtain remainder of  25 divided by 6 </li>
                            <li> 33 raised to 4 </li> 
                            <li> 45 divided by 6  (floor division)
                            <li> 2 raised to 10</li></ol>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [45]:
# type your code here
v1 = 1353 + 234
print('output of 1353 plus 234 is {}'.format(v1))
v2 = 2355 - 346
print('output of 2355 minus 346 is {}'.format(v2))
v3 = 234 * 457
print('output of 234 times 457 is {}'.format(v3))
v4 =25 / 6
print('output of 25 divided 6 is {}'.format(v4))
v5 = 25 % 6
print('remainder of 25 devided by 6 is {}'.format(v5))
v6 = 33 ** 4
print('output of 33 raised to 4 is {}'.format(v6))
v7 = 45 // 6
print('output 45 divided by 6 (floor division) is {}'.format(v7))
v8 = 2 ** 10
print('output of 2 raised to 10 is {}'.format(v8))

output of 1353 plus 234 is 1587
output of 2355 minus 346 is 2009
output of 234 times 457 is 106938
output of 25 divided 6 is 4.166666666666667
remainder of 25 devided by 6 is 1
output of 33 raised to 4 is 1185921
output 45 divided by 6 (floor division) is 7
output of 2 raised to 10 is 1024

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Calculate BMI of a person (take input for height and weight from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [51]:
# type your code here
height = input('Please enter a positive number for height in meters')
height_int = int(height)
weight = input('Please enter a positive number for weight in kg')
weight_int = int(weight)
print('bmi for provided height {} m and weight {} kg is {}'.format(height_int, weight_int, weight_int / (height_int**2)))

Please enter a positive number for height in meters 4
Please enter a positive number for weight in kg 70

bmi for provided height 4 m and weight 70 kg is 4.375

<a id="boolean"></a>
## 4. Boolean Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Check whether the expression (54+34)* 45 is equal to the expression (0.9*2432)/0.9 </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [53]:
# type your code here
exp1 = (54+34)*45
exp2 = (0.9*2432)/0.9
if exp1 == exp2:
    print('Equal')
else:
    print('Not equal')

Not equal

<a id="concatenation"></a>
## 5. Concatenation

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Create two strings and concatenate them using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [54]:
# type your code here
str1 = 'Hello'
str2 = ' World'
str3 = str1 + str2
print(str3)

Hello World

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Concatenate the variables 'num = 34 and 'string ='How old are you?' using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [58]:
# type your code here
num = 34
string = 'How old are you?'
output = str(num) + ' '+ string
print(output)

34 How old are you?

<a id="pseudo"> </a>
## 6. Pseudo Codes

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write a pseudo code to print table of 5 using 'for' loop.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
Save table number in a variable
loop through from number 1 to 10
    for each number in loop
        multiple number by 5 and store the product in a variable
        print table_number * number = product

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a pseudo code for generating a fibonacci series starting with 0 and 1 for 10 values using while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here

Add first 2 numbers in Fionacci series 0 and 1 to container explicitly

create a container to hold the fibonacci series
create a function to process fibonacci series
pass first 2 operands and the number expected to be in series as parameters to method
    if numbers in series is not zero, only then proceed calculating the next number in fibonacci series
        calcualte the next number and add it to the container by adding the 2 numbers passed to function
        call the method again with updated arguments

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Write a pseudo code to know whether a number is greater than the other using 'if' statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
Read number1
Read number2
if number1 greater than number2 print number1 is greater than number2
else print number 2 is greater than number1

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Write a pseudo code to check whether a number is divisible by 7 or not using if else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
read number from keyboard
dividbe input number by 7
if remainder is not zero then print not divisible by 7
else print divisible by 7

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Write a pseudo code to find factorial of a number using nested if-else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
read input number to calculate factorial
if input number is zero then return 1
else if input number is greather than zero then 
    save input number in another variable called index
    create a varabile called factorial and initialize it to 1
    create index is not greater than input number execute below steps
        multiply index by factorial and save the value back in facotrial variable
        increment index by 1
    print value stored in factorial

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Write a pseudo to know whether a number is prime or not using for and if else statement.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
read input number from keyboard
create a flag to save the state if the given input number is prime or not
for an integer that exists from 2 to provided number as input
divide given number by integer in loop
    if the remainder is zero set a flag that number is not prime

if flag is not set then print prime number
else print not a prime number