In [ ]:
print('Hello world2')

In [ ]:
print('hello world ")

In [ ]:
ns = "hello world of python today "

In [ ]:
ns

In [ ]:
ns = '''
hello world
of python
help today
'''

In [ ]:
print(ns)

In [ ]:
ns = """
hello
python
today

"""

In [ ]:
print(ns)

In [ ]:
ns = ''' 
hello world 
of python help me today
'''

In [ ]:
print(ns)

In [ ]:
ns

In [ ]:
''' 
hello world 
of python help me today
'''

In [ ]:
a = 10
b = 20
print(a)
print(b)

In [ ]:
10

In [ ]:
10

In [ ]:
10+20

In [ ]:
a = 10
b = 10
''' 
hello world 
of python help me today
'''
a+b

In [ ]:
if = 20

In [ ]:
if_20 = 20

In [ ]:
ex$var = 40

In [ ]:
ex_var = 40

In [ ]:
ex9var = 35

In [ ]:
a = 20
a = 'hello'
print(a)
b = 30
#91var = 43

In [ ]:
var91 = 43

In [ ]:
print(a)

In [ ]:
help('if')

In [ ]:
print('hello')

In [ ]:
help(print)

In [ ]:
help(SyntaxError)

In [ ]:
help('keywords')

In [ ]:
print = 20

In [ ]:
print(print)

In [ ]:
del print

In [ ]:
print(20)

In [ ]:
print(type(20))

In [ ]:
print(type('hello'))

In [ ]:
a = 20

In [ ]:
print(type(a))

In [ ]:
a = 'hello'

In [ ]:
print(type(a))

In [ ]:
a = 20
b = 20

In [ ]:
id(20)

In [ ]:
id(a)

In [ ]:
id(b)

In [ ]:
a = 2000
b = 2000

In [ ]:
id(a)

In [ ]:
id(b)

In [ ]:
# -5  to  256

In [ ]:
id(20)

In [ ]:
a

In [ ]:
b

In [ ]:
z = 20

In [ ]:
id(z)

In [ ]:
a

In [ ]:
a = 20

In [ ]:
id(a)

In [ ]:
print("hello")

# 08/Nov/2020.

Indentation

In [ ]:
temp = 21
temp1 = 20
if temp1 == 20:
    if temp == 20:
        print(temp)
        print('if if')
    else:
        print(temp)
        print('if else')
else:
    if temp == 20:
        print(temp)
        print('else if')
    else:
        print(temp)
        print('else else')

In [ ]:
20 > 15

In [ ]:
20 > 'abc'

In [ ]:
a = 20 + 20.2
print(a)
print(type(a))

In [ ]:
a = 20
b = 21
c = a + b
print(type(c))

In [ ]:
ns = 'hello world'

In [ ]:
print(type(ns))

In [ ]:
ns[0]

In [ ]:
len(ns)

In [ ]:
print(type('f'))

In [ ]:
print(type(ns[0]))

In [ ]:
mylist = [2,4,6,8,10]

In [ ]:
print(mylist)

In [ ]:
print(type(mylist))

In [ ]:
print(type(mylist[0]))

In [ ]:
mylist1 = [22,33,44,'hello', 'python', 45.67, [11,66,77,'world']]

In [ ]:
len(mylist1)

In [ ]:
mylist1[0]

In [ ]:
mylist1[6]

In [ ]:
print(mylist1[6][0])
print(type(mylist1[6][0]))

In [ ]:
print(len(mylist1[6][3]))

In [ ]:
mylist2 = [1111,2222,3333,4444]

In [ ]:
mylist2.append(5555)

In [ ]:
mylist2

In [ ]:
mylist2

In [ ]:
mylist2[1]

In [ ]:
mylist2[1] = 'hello'

In [ ]:
mylist2

In [ ]:
ms

In [ ]:
ms1

In [ ]:
ns

In [ ]:
ns[0]

In [ ]:
ns[0] = 'j'

In [ ]:
#Strings are non-mutable  or immutable in python

In [ ]:
#list are mutable,  tuples are immutable

In [ ]:
mylist2

In [ ]:
mt1 = (1,2,3,4,5)

In [ ]:
mt1

In [ ]:
type(mt1)

In [ ]:
print(type(mt1))

In [ ]:
mt1[0] = 'hello'

In [ ]:
mt1

In [ ]:
mt1[0]

In [ ]:
mt1[3]

In [ ]:
mt1[0] = 5

In [ ]:
ms1 = 'python'

In [ ]:
id(ms1)

In [ ]:
id('python')

In [ ]:
ns1 = ms1[::-1]

In [ ]:
ns1

In [ ]:
id(ns1)

In [ ]:
ms1 = ms1[::-1]

In [ ]:
ms1

In [ ]:
id(ms1)

In [ ]:
mylist1

In [ ]:
id(mylist1)

In [ ]:
mylist1.append(232323)

In [ ]:
mylist1

In [ ]:
id(mylist1)

In [ ]:
mt

In [ ]:
mt1

In [ ]:
mt1 = (2,3,4,[11,22,33])

In [ ]:
mt1[0] = 22

In [ ]:
mt1[3] = 34

In [ ]:
x = mt1[3]

In [ ]:
x

In [ ]:
type(x)

In [ ]:
a = 20
b = 20
c = 20

In [ ]:
a = 40

In [ ]:
dir(list)

In [ ]:
ms

In [ ]:
ns

In [ ]:
ns[:3]

In [ ]:
#Slicing

In [ ]:
ns = input('Enter your name: ')

In [ ]:
print(ns)

In [ ]:
print(type(ns))

In [ ]:
age  = input('Enter your age: ')
print(age)
print(type(age))

In [ ]:
age[0]

In [ ]:
age[1]

In [ ]:
age+4

In [ ]:
age

In [ ]:
a = int(age)

In [ ]:
a

In [ ]:
print(type(a))

In [ ]:
a + 4

In [ ]:
age = int(input('enter age '))
print(age)
print(type(age))

In [ ]:
bb = float(input('enter balance'))
print(bb)
print(type(bb))

In [ ]:
ms = input('enter multi line string')
print(ms)
print(type(ms))

In [ ]:
print(ms)

In [ ]:
ms = input ('enter matrix')

In [ ]:
ms

In [ ]:
mylist = ms.split()

In [ ]:
mylist

In [ ]:
mylist[0]

In [ ]:
15/4

In [ ]:
15//4

In [ ]:
15%3

In [ ]:
15%4

In [ ]:
a = 20
b = 20

In [ ]:
if a >= b:
    print('they are equal')

In [ ]:
a == b

In [ ]:
'hello'  == 'Hello'

In [ ]:
help('+')

In [ ]:
age = 40
a = ((age > 10)  and (age < 60))
print(a)

In [ ]:
age = 40

if age:
    print('true')
else:
    print('false')

In [ ]:
age = 0

if bool(age) == True:
    print('true')
else:
    print('false')

In [ ]:
bool(40)

In [ ]:
bool(0)

In [ ]:
bool(0)

In [ ]:
bool(1)

In [ ]:
bool(-1)

In [ ]:
bool('hello')

In [ ]:
bool('true')

In [ ]:
bool('false')

In [ ]:
bool(True)

In [ ]:
bool(False)

In [ ]:
bool('')

In [ ]:
bool([])

In [ ]:
bool({})

In [ ]:
not(5)

In [ ]:
not(bool(5))

In [ ]:
not(True)

In [ ]:
not(False)

In [ ]:
not(0)

In [ ]:
print(type(True))

In [ ]:
help('keywords')

In [ ]:
True = 20

In [ ]:
bool

In [ ]:
bool = 20

In [ ]:
bool(True)

In [ ]:
int = 'hello'

In [ ]:
print(abcd)

In [ ]:
print(int)

In [ ]:
del int

In [ ]:
age = 17
if 13 <= age <= 19:
    print('Teenager')

In [ ]:
if 13 <= age     and    age <= 19:
    print('Teenager')
    
print('Done')

In [ ]:
age = 27

if age < 18:
    print('Not a Voter')
else:
    print('Voter')
    
print('Done')

In [ ]:
age = 55

if age < 18:
    print('Minor')
elif age < 30:
    print('Youth')
elif age < 50:
    print('Middle Age1')
elif age < 60:
    print('Middle Age2')
else:
    print('Senior Citizen')
    
    
print('Done')

In [ ]:
age = 40

if age < 18:
    print('Minor')

if age < 30:
    print('Youth')

if age < 50:
    print('Middle Age1')

if age < 60:
    print('Middle Age2')
else:
    print('Senior Citizen')
    
    
print('Done')

In [ ]:
def mf1(n1,n2):
    s = n1 + n2
    print(s,n1,n2)
    print(id(s), id(n1),id(n2))
    
    return s

In [ ]:
s1 = mf1(10,20)
print(s1)
print(id(s1))

In [ ]:
id(10)

In [ ]:
id(20)

In [ ]:
-5 to 255

In [ ]:
mylist = []

In [ ]:
print(type(mylist))

In [ ]:
len(mylist)

In [ ]:
mylist.append(10)

In [ ]:
mylist

In [ ]:
0,1,1,2,3,5,8,13,21,34,55,....

# Python Prep Code

In [ ]:
a= 10
b= 20
c=a
a=b
b=c
print(a,b)

In [ ]:
print(a,b)
a,b = b,a
print(a,b)

In [ ]:
a,b,c = 10,20,30

In [ ]:
def swap(a,b):
    return b,a

x = int(input("Enter a number "))
y = int(input("Enter a number "))
x,y = swap(x,y)
print(x,y)

In [ ]:
Far = float(input("Enter the degree in Farhenheit: "))
print (Far)
c = (Far-32)*(5/9)
print (c)

In [ ]:
a = input("enter data")
if a == "DataScience":
    print("Values are equal")
else:
    print("Not equal")

In [ ]:
word=input("Enter the string: ")
if word.lower() == "datascience":
    print("Matches")
else:
    print("Mismatch")

In [ ]:
'HeLLO'.lower()

In [ ]:
def matchData(actualvalue, expected_value):
    if(actualvalue == expected_value):
        print("The value is " , expected_value)
    else:
        print("The value is not", expected_value)

value= input("Enter the string")
matchData(value,"DataScience")

In [ ]:
print(10,20)

In [ ]:
print(10,20,30)

In [ ]:
age = int(input("Enter your age: "))
if age >= 18:
    print("Eligible to vote")
else:
    print("Not eligible to vote")

In [ ]:
age=int(input ('Enter the age: '))
if age>=18:
    print ('age above 18 is eligible,your age is: ',age)
else:
    print ('below 18 not eligible, your age is: ',age)

In [ ]:
inStr = input('enter the String')
while inStr != "Quit":
    if inStr == "DataScience":
        print('Input is DataScience')
        break
    else:
        print('Input is', inStr)
    inStr = input('enter the String')

In [ ]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("number is Even")
else:
   print("number is Odd")

In [ ]:
def isEven(num):
    if num % 2 == 0:
        return True
    else:
        return False

In [ ]:
isEven(20)

In [ ]:
isEven(23)

In [ ]:
CN = [11,12,13,14,15]
alen = len(CN)
index = 0
while (index < alen):
    print (index, CN[index],CN[index]**2)
    index = index + 1

In [ ]:
lst1 = [1,2,3,4,5,6,7,8,9,10]
lst2 = []
alen=len(lst1)
index=0
while(index < alen):
    lst2.append(lst1[index]**2)
    index= index+1
print(lst1)    
print(lst2)

In [ ]:
index = 0
valuelist = []
while index < 10:
    val = int(input("Enter a number: "))
    print(val)
    valuelist.append(val)
    index = index + 1
    
    
print("list",valuelist)

In [ ]:
def printMultiplicationTable(num):
    i = 1
    while i <= 10:
        mul = num * i
        print(num, " * ", i, " = ", mul)
        i += 1


number = int(input("Enter the num"))
printMultiplicationTable(number)
print()
printMultiplicationTable(6)

In [ ]:
#reusable procedure for multiplation tables 
def mulTab (inNum):
    multab1 =[]
# create table till 10
    i = 1 
    while i <= 10:
        multab1.append(i * inNum)
        i = i + 1
        
    print(multab1)
    
mulTab(int(input('Enter a Number')))

In [ ]:
def isTrouble(time, talkingParam):
    if(talkingParam == True):
        if (time >= 7 and time <= 20):
            return True
        else:
            return False
    else:
        return False


print(isTrouble(6, True))

In [ ]:
def isTrouble(time, talkingParam):
    
    if (talkingParam == True):
        if (time <= 7 or time >= 20):
            return True
           
    return False


print(isTrouble(6, True))

# 21/Nov/2020

# Strings

In [ ]:
ms1 = 'Hello'

In [ ]:
print(type(ms1))

In [ ]:
c = ms1[0]

In [ ]:
print(c)

In [ ]:
print(type(c))

In [ ]:
ms1[0]

In [ ]:
ms1[0] = 'J'

In [ ]:
ms1

In [ ]:
ms1[0]

In [ ]:
ms1[-1]

In [ ]:
ms1[len(ms1)-1]

In [ ]:
ms1[-len(ms1)]

In [ ]:
ms = 'abcdefghijkl'

In [ ]:
ms[2:8]    #   2,3,4,5,6,7    #,8,9,10,...

In [ ]:
ms[7:3]

In [ ]:
ms[7:3:-1]   #   7,6,5,4     #,3,2,1,0

In [ ]:
ms[-8:-2]   #  -8, -7, -6, -5,-4,-3    #,-2,-1

In [ ]:
ms[-2:-8]    # -2, -1

In [ ]:
ms[-2:-8:-2]    # -2, -4, -6 ,# -8, -10//...

In [ ]:
ms[::2]

In [ ]:
ms[::-1]

In [ ]:
'a' + 'b'

In [ ]:
'a_'  * 3

In [ ]:
'python'  in 'hello world of python today'

In [ ]:
'python'  in 'hello world of pythan today'

In [ ]:
'python'  not in 'hello world of pythan today'

In [ ]:
temp = 20
Temp = 22

In [ ]:
dir(str)

In [ ]:
help(str.replace)

In [ ]:
dir('hello')

In [ ]:
ms

In [ ]:
dir(ms)

In [ ]:
help(str.replace)

In [ ]:
ms = 'hello world of python today'

In [ ]:
ns = ms.replace('o','u')

In [ ]:
ns

In [ ]:
ms

In [ ]:
ns = ms.replace('o','u', 2)

In [ ]:
ns

In [ ]:
ms.replace('o','u', 2)
print()

In [ ]:
print(ms.replace('o','u', 2))

In [ ]:
print(ms)
ns= ms.replace("o",'u',-2)
ns

In [ ]:
help(str)

In [ ]:
ms1 = 'king RING SIng biNG PiNg'

In [ ]:
ms1.replace('g','*').replace('*', '$')

In [ ]:
'hello'.replace('o','u')

In [ ]:
2+3

In [ ]:
ms1.replace('g','*').replace('*', '$')

In [ ]:
ns1 = ms1.replace('g','*')
print(ns1)
ns1.replace('*','$')

In [ ]:
help(str.find)

In [ ]:
dir(str.rfind)

In [ ]:
print(type(str.rfind))

In [ ]:
dir('method_descriptor')

In [ ]:
dir(str.rfind.__class__)

In [ ]:
'king'.upper()

In [ ]:
'KiNg'.swapcase().swapcase()

In [ ]:
'hello world of python'.title()

In [ ]:
'hello world Of Python'.capitalize()

In [ ]:
'123'.isdigit()

In [ ]:
type(ms)

In [ ]:
ms = 'hello 1234123 abcd  $$&&&'
slen = len(ms)
print(slen)

index = 0
d = 0
while index < slen:
    if ms[index].isdigit():
        d = d + 1
    index = index + 1
print(d)

In [ ]:
mystr1 = '-----      National Stock Exchange       ==='

In [ ]:
len(mystr1)

In [ ]:
mystr1.strip()

In [ ]:
mystr1.strip('-')

In [ ]:
mystr1.strip('-= ')

In [ ]:
mystr1

In [ ]:
mystr1.replace(' ', '')

In [ ]:
ms = ' ---  NNNNNional stock exchange   ==='

ns = ms.strip(' -N=')
print(ns)

In [ ]:
ms = "-----       National     Stock    Exchg= ------- - ==- == is becoming complex"
ms.strip('- =').replace('=','').replace('  '," ").replace('-','')

In [ ]:
ms1 = 'World Health Org'
lstr = ms1.split()
print(lstr)

In [ ]:
ms1 = 'World,Health Org'
lstr = ms1.split()
print(lstr)

In [ ]:
ms1 = 'World,Health Org'
lstr = ms1.split(',')
print(lstr)

In [ ]:
ms1 = 'World,Health,Org,Europe'
lstr = ms1.split(',' , 2)
print(lstr)

In [ ]:
help(str.split)

In [ ]:
dir(str)

In [ ]:
ms1 = 'World,Health,Org,Europe'
lstr = ms1.split(',')
print(lstr)

In [ ]:
'--'.join(lstr)

In [ ]:
' python '.join(lstr)

In [ ]:
'aaa '.isalnum()

In [ ]:
'abcd'.isalpha()

In [ ]:
help(str.isalnum)

In [ ]:
help(str.isalpha)

# OOPS

In [ ]:
class MyEmployee():
    e = 'Engineer'
    a = 'admin'
    
    
    def getE(which_object):
        print(id(which_object))
        return which_object.e
    
    def getA(which_object):
        return which_object.a  
    
    
    def setE(self, newvalue):
        self.e = newvalue
        
        
class MyEmployee1():
    e = 'Engineer'
    a = 'admin'
    
    
    def getE1(which_object):
        print(id(which_object))
        return which_object.e
    
    def getA1(which_object):
        return which_object.a  
    
    
    def setE1(self, newvalue):
        self.e = newvalue

In [ ]:
e1 = MyEmployee()
print(id(e1))
print(e1.e)
print(e1.a)

In [ ]:
e1.e = 'Executive'
e1.a = 'Accountant'
print(e1.e)
print(e1.a)

In [ ]:
e2 = MyEmployee()
print(id(e2))
print(e2.e)
print(e2.a)

In [ ]:
print(e1.e)

In [ ]:
e1.getE()  #  MyEmployee.getE(e1)

In [ ]:
MyEmployee.getE(e1)

In [ ]:
id(e1)

In [ ]:
id(e2)

In [ ]:
e2.getE()

In [ ]:
e1.getE()

In [ ]:
e1.setE('DataAnalyst')

In [ ]:
e1.e

In [ ]:
e1.getE()

In [ ]:
e1.__class__

In [ ]:
e1.__class__.getE(e1)

In [ ]:
MyEmployee.getE(e1)

In [ ]:
dir(e1)

In [ ]:
a = 20

In [ ]:
print(type(a))

In [ ]:
a = int(22)

In [ ]:
print(type(a))

In [ ]:
ms = 'hello'

In [ ]:
type(ms)

In [ ]:
ms = str('world')

In [ ]:
type(ms)

In [ ]:
dir(int)

In [ ]:
dir(str)

In [ ]:
'hello'  -  'world'

In [ ]:
def user_function(p1,p2):
    if p1 == p2:
        print("")

In [ ]:
a = 20
20 + 30

In [ ]:
dir(e1)

In [ ]:
e1.getE()

# 22-Nov-2020

In [ ]:
cc = 22
cm = 'Alto'

In [ ]:
print(" we have %d of %s in the showroom"  % (cc,cm))

In [ ]:
print(" we have %d of %s in the showroom"  % (cm,cc))

In [ ]:
dir(str)

In [ ]:
ns = 'we have {} of {} in the showroom'.format(cc,cm)
print(ns)

In [ ]:
print('we have {} of {} in the showroom'.format(cm,cc))

In [ ]:
ms = 'we have {} of {} in the showroom'
print(ms.format(cc,cm))

In [ ]:
str.format("we have {} of {} in the showroom",cc,cm)# This also works as discussed yesterday

In [ ]:
cw = 3.3
cm = 'Ambassador'
year = 2010
print('1 we have {} of weight {} tons'.format(cm,cw))

print('2 we have {0} of weight {1} tons'.format(cm,cw))  # constraining based on parameter number
print('3 we have {1} of weight {0} tons'.format(cm,cw))
print('4 we have {1} of weight {1} tons'.format(cm,cw))
print('5 we have {0} of weight {0} tons'.format(cm,cw))
print('6 we have {0} of weight {0} tons'.format(cm))

print('7 we have {:f} of weight {:s} tons'.format(cw,cm)) # constraining based on data type
print('8 we have {:d} of weight {:s} tons'.format(int(cw),cm))
print('9 we have {:.2f} of weight {:s} tons in the year {:d}'.format(cw,cm,year))
#print('10 we have {:f} of weight {:s} tons'.format(cm,cw)) 

print('11 we have {2:.2f} of weight {0:s} tons in the year {1:d}'.format(cm, year, cw))

In [ ]:
num = 13

In [ ]:
print('bin {0:b}, oct {0:o}, hex {0:x}, dec {0:d}'.format(num))

Padding

**PYTHON**
PYTHON****
****PYTHON

In [ ]:
ns = '{:10}'.format("PYTHON")
print(ns)

In [ ]:
print('{:*<20}'.format('PYTHON'))
print('{:$>20}'.format('PYTHON'))
print('{:-^20}'.format('PYTHON'))

In [ ]:
print('{:-^11}'.format('PYTHON'))

In [ ]:
nm = 'Jeev'
nage = 10
ns = 'My Name is {} and age is {}'.format(nm,nage)
print(ns)

In [ ]:
help('format')

In [ ]:
help('FORMATTING')

# Lists

In [ ]:
mlist1 = [123, 'hello', [22,44,66, 'python'], 'world']

In [ ]:
mlist1[1]

In [ ]:
mlist1[1] = 456

In [ ]:
mlist1

In [ ]:
mlist1[-1][-1] = 'z'

In [ ]:
type(mlist1[-1])

In [ ]:
[1,2,3]  + [4,5,6]

In [ ]:
[1,2,3] * 3

In [ ]:
mylist1 = list('pythonworld')

In [ ]:

mylist1

In [ ]:
len(mylist1)

In [ ]:
mylist1[2:4]

In [ ]:
mylist1[::2]

In [ ]:
mylist1[-5:]

In [ ]:
mylist_blocked_websites = ['fb', 'tw', 'cricinfo', 'republic']

In [ ]:
if 'cnet.com' not in mylist_blocked_websites:
    print('allowed now')

In [ ]:
print(type(mylist1))

In [ ]:
dir(list)

In [ ]:
mylist1 = [11,22,33,44,55]

In [ ]:
x = mylist1.append([66,77])

In [ ]:
print(x)

In [ ]:
print(mylist1)

In [ ]:
mylist1.extend([111,222,333])
print(mylist1)

In [ ]:
mylist1

In [ ]:
mylist1.insert(2,999)

In [ ]:
mylist1

In [ ]:
mylist1.insert(0,888)

In [ ]:
mylist1

In [ ]:
mylist1.insert(-1,777)
print(mylist1)

In [ ]:
mylist1.insert(len(mylist1),666)
print(mylist1)

In [ ]:
help(list.pop)

In [ ]:
pop_example = [20,30,"test",(1,3,5)]
print(pop_example.pop(1))
print(pop_example)

In [ ]:
pop_example = [20,30,"test",(1,3,5)]
pop_example.count(5)

In [ ]:
pop_example

In [ ]:
pop_example.index(30)

In [ ]:
mylist1 = list('python')

In [ ]:
mylist1

In [ ]:
mylist2 = mylist1  # another view to the same object as mylist1 is created

In [ ]:
id(mylist1)

In [ ]:
id(mylist2)

In [ ]:
mylist2

In [ ]:
mylist2[-1] = 'm'

In [ ]:
mylist2

In [ ]:
mylist1

In [ ]:
mylist1

In [ ]:
mylist3 = mylist1.copy()

In [ ]:
id(mylist1)

In [ ]:
id(mylist3)

In [ ]:
mylist3[-1] = 'N'

In [ ]:
mylist3

In [ ]:
mylist1

In [ ]:
mylist5 = list('hello world of python')

In [ ]:
print(mylist5)

In [ ]:
mylist5.count('o')

In [ ]:
mylist1 = list('python')

In [ ]:
mylist1

In [ ]:
mylist1.sort()

In [ ]:
mylist1

In [ ]:
print(mylist1)
mylist1.sort(reverse=True)
print(mylist1)

In [ ]:
1 > 'a'

In [ ]:
mylist6 = [[1, 2, 3, 4], 'player', 'python', 'zoomvideo']

In [ ]:
mylist6

In [ ]:
mylist6.sort()

In [ ]:
def mylenfunction(obj):
    return len(obj)

In [ ]:
mylenfunction(['pythonworld',1,5,6])

In [ ]:
mylist6.sort(key=mylenfunction)

In [ ]:
mylist6

In [ ]:
mylist6.sort(key=mylenfunction ,reverse=True)

In [ ]:
mylist6

In [ ]:
mylist7 = ['qplayer', 'python', 'zoomvideo']

In [ ]:
mylist7.sort()
mylist7

In [ ]:
max(mylist7)

In [ ]:
len(7)

In [ ]:
max([33,55,22,11,77,88,55])

In [ ]:
min([33,55,22,11,77,88,55])

In [ ]:
mylist1

In [ ]:
mylist1.clear()

In [ ]:
mylist1

In [ ]:
def lastcharascii(obj):
    return ord(obj[-2])
mylist7 = ['qplayer', 'python', 'zoomvideo']
mylist7.sort(key=lastcharascii)
print(mylist7)

In [ ]:
ord('a')

In [ ]:
chr(98)

In [ ]:
print(mylist7)
x = sorted(mylist7)
print(x)
print(mylist7)

In [ ]:
ms = 'python'
print(ms)
x = ''.join(sorted(ms))
print(x)
print(ms)

In [ ]:
id(ms)

In [ ]:
id(x)

In [ ]:
x = reversed([22,44,55,11,66])
print(x)
print(x.__class__)
print(type(x))
print(isinstance(x, list_reverseiterator )

print(list(x))
print(list(x))

In [ ]:
print(type(reversed))

In [ ]:
ITERABLE...    ITERATOR

In [ ]:
reversed.__class__.reversed([22,11,33])

In [ ]:
dir(type)

In [ ]:
1 > 'a'

In [ ]:
help(isinstance)

In [ ]:
isinstance([3,4,5],list)

In [ ]:
x = reversed([22,44,55,11,66])

In [ ]:
dir(x)

In [ ]:
dir(list)

In [ ]:
mt = (123,)

In [ ]:
print(type(mt))

In [ ]:
mt[0]

In [ ]:
dir(tuple)

In [ ]:
(1,2,3) + (4,5,6)

In [ ]:
(1,2,3) * 3

In [ ]:
tuple('python')[::-1]

In [ ]:
3 in (2,3,4,5)

In [ ]:
ms = (1,2,3,4,"str1","str2")
print(ms)
print(id(ms))
mlist = list(ms)
print(mlist)
mlist.append(['a','b','c'])
ms = tuple(mlist)
print(ms)
print(id(ms))

In [ ]:
md1 = {'Name': 'Arun', 'Balance':10000, 'UID':12345678, 'Name': 'TArun'}
print(md1)

In [ ]:
print(type(md1))

In [ ]:
md1['PIN'] = 560001

In [ ]:
md1

In [ ]:
md1['Name'] = 'Tarun'

In [ ]:
md1

In [ ]:
hash('Name')

In [ ]:
dir(dict)

In [ ]:
md1

In [ ]:
x = md1.keys() 
print(type(x))
print(x)    # it is list-like
print(list(x))
print(list(x))

In [ ]:
md1.values()

In [ ]:
list(md1.items())

In [ ]:
md1

In [ ]:
md2 = {'Name': 'Arun', 'Pan':123498765}

In [ ]:
md1.update(md2)

In [ ]:
md1

In [ ]:
set(md1)

In [ ]:
dir(dict)

In [ ]:
md1

In [ ]:
x = md1.get('Name')
print(x)

In [ ]:
x = md1.get('City')
print(x)

In [ ]:
x = md1.get('City', 'NotPresent')
print(x)

In [ ]:
x = md1.get('UID', 'NotPresent')
print(x)

In [ ]:
dir(dict)

In [ ]:
md1

In [ ]:
print(md1)
x = md1.pop('Pan')
print(x)
print(md1)

In [ ]:
print(md1)
x = md1.pop('Pan1')
print(x)
print(md1)

In [ ]:
print(md1)
x = md1.pop('Pan1', 'Boss key Not found')
print(x)
print(md1)

In [ ]:
md1

In [ ]:
print(md1)
x = md1.setdefault('Pan', 98766789)
print(x)
print(md1)

In [ ]:
mdict = {"Name":"Madhukar","Balance":100,"UID":["12345","3434","6554"]}
mdict.setdefault("Name","default")
print(mdict)
mdict.pop("Name")
print(mdict)
print(mdict['Name'])

In [ ]:
mt1 = ['Game', 'Player', 'Age']

In [ ]:
type(mt1)

In [ ]:
md1 = dict.fromkeys(mt1)
print(md1)

In [ ]:
md1 = dict.fromkeys(mt1, 'Unknown')
print(md1)

In [ ]:
dir(dict)

In [ ]:
md1.values()

In [ ]:
mtk = ('Game', 'Player', 'Age')
mtv = ('Athletics', 'Hima', 23)

In [ ]:
z = zip(mtk,mtv)
print(z)
print(type(z))
mylist = list(z)
print(mylist)
md2 = dict(mylist)
print(md2)

In [ ]:
mtk = ['Game', 'Player', 'Age']
mtv = ('Athletics', 'Hima', 23)
md3 = dict(zip(mtk,mtv))
print(md3)

In [292]:
x = {}

In [293]:
type(x)

dict

In [294]:
s = set()

In [295]:
type(s)

set

In [296]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [297]:
s1 = {2,4,6,8,1,3,5,10}
s2 = {1,3,5,11,13,15}

In [298]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 8, 10, 11, 13, 15}

In [299]:
s1.intersection(s2)

{1, 3, 5}

In [300]:
s1-s2

{2, 4, 6, 8, 10}

In [301]:
s2-s1

{11, 13, 15}

In [302]:
s1.symmetric_difference(s2)

{2, 4, 6, 8, 10, 11, 13, 15}

In [303]:
dir(s1)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [304]:
mylist1 = list('python world')

In [305]:
mylist1

['p', 'y', 't', 'h', 'o', 'n', ' ', 'w', 'o', 'r', 'l', 'd']

In [306]:
set(mylist1)

{' ', 'd', 'h', 'l', 'n', 'o', 'p', 'r', 't', 'w', 'y'}

In [307]:
mylist1 = list(set(mylist1))

In [308]:
mylist1

['d', 'r', 'w', 'y', 'h', ' ', 't', 'l', 'n', 'p', 'o']

In [309]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [310]:
s1

{1, 2, 3, 4, 5, 6, 8, 10}

In [311]:
print(s1)

{1, 2, 3, 4, 5, 6, 8, 10}

In [312]:
s1 = set(list('pythonworld'))

In [313]:
s1

{'d', 'h', 'l', 'n', 'o', 'p', 'r', 't', 'w', 'y'}

In [314]:
print(s1)

{'d', 'r', 'w', 'y', 'h', 'l', 't', 'n', 'p', 'o'}

In [315]:
print(s1)

{'d', 'r', 'w', 'y', 'h', 'l', 't', 'n', 'p', 'o'}

In [316]:
print(s1)

{'d', 'r', 'w', 'y', 'h', 'l', 't', 'n', 'p', 'o'}

In [317]:
s1[0]

TypeError: 'set' object is not subscriptable

In [319]:
s1 = {2,4,6,'hello', (2,4,6)}

In [320]:
s1

{(2, 4, 6), 2, 4, 6, 'hello'}

In [321]:
s1 = {2,4,6,'hello', (2,4,6, [22,33,44])}

TypeError: unhashable type: 'list'

In [327]:
print(list(range(10)))
print(list(range(10,20)))
print(list(range(10,101,1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [328]:
list(range(-14,-1,2))

[-14, -12, -10, -8, -6, -4, -2]

In [329]:
for letter in "python":
    print(letter)

p
y
t
h
o
n

In [332]:
nrange = range(1,11)
type(nrange)
print(nrange)

print("Range access in iteration")
for docnum in nrange:
    print(docnum,  end= ':::')

range(1, 11)
Range access in iteration
1:::2:::3:::4:::5:::6:::7:::8:::9:::10:::

In [333]:
print()