In [ ]:
print('Hello World')

In [ ]:
print("National Stock Exchange")
#print
print('New York # stock exchange')

In [ ]:
exchange = 'NSE Mumbai'; print(exchange)
currency = "Dollar_$"; print(currency)

In [ ]:
#String that is spanning across lines or multiline or paragraph, use tripple quotes
mutliLine = """ This
is 
a 
multline
comment""";
print(mutliLine)

"""
This is a block comment1
This is a block comment2
This is a block comment3
"""

In [ ]:
ord("1")

In [ ]:
help(ord)

In [ ]:
10+20

In [ ]:
a=20
print(id(a))
b=20
print(id(b))

In [ ]:
mystr1 = "hello world"
print(mystr1[2])

In [ ]:
mylist1 = [2, 3, 6, 'blr', 'mum', 'del', 3, 5, 7]
print(mylist1[2])
mylist1.append('che')
print(mylist1)
type(mylist1[3])

In [ ]:
tuple1 = (2, 3, 6, 'blr', 'mum', 'del', 3, 5, 7)

In [1]:
ms1='python'
id(ms1)

1392459570160

In [2]:
id('python')

1392459570160

In [3]:
ms1 = ms1[::-1]
id(ms1)
print(ms1)

nohtyp

In [4]:
reversed(ms1)
print(ms1)

nohtyp