In [ ]:
import pandas as pd
import numpy as np

# Series

In [ ]:
mylist = [100,150,200,300]

In [ ]:
ps1 = pd.Series(mylist)

In [ ]:
ps1

In [ ]:
print(type(ps1))

In [ ]:
print(type(ps1.index))

In [ ]:
ps1.values

In [ ]:
print(type(ps1.values))

In [ ]:
ps1.shape

In [ ]:
ps1.ndim

In [ ]:
ps1.size

In [ ]:
ps1.dtype

In [ ]:
mylist = (100,150,200,300)
indexlist = ('Tata','Birla','Adani','Wipro')
ps2 = pd.Series(mylist, index=indexlist)

In [ ]:
ps2

In [ ]:
ps2.index

In [ ]:
print(type(ps2.index))

In [ ]:
md1 = {'Tata':200, 'Birla':400, 'Adani':600, 'Infy':800}

In [ ]:
ps3 = pd.Series(md1)

In [ ]:
ps3

In [ ]:
ps3.index

In [ ]:
ps3.values

In [ ]:
print(type(ps3.index))

In [ ]:
ps1

In [ ]:
ps3

# Series Access

In [ ]:
ps1

In [ ]:
ps3

In [ ]:
ps1[0]

In [ ]:
ps1[0:3]

In [ ]:
ps1[ [1,3,0] ]

In [ ]:
ps1

In [ ]:
ps1[ps1>150]

In [ ]:
ps1>150

In [ ]:
ps1

In [ ]:
ps1[0:2]

In [ ]:
ps1[0::2]

In [ ]:
ps3

In [ ]:
ps3[0]

In [ ]:
ps3['Tata']

In [ ]:
ps3['Tata':'Adani':2]

In [ ]:
ps3[0:2]

In [ ]:
ps3[  ['Adani', 'Birla','Infy'] ]

In [ ]:
ps3

In [ ]:
ps3[(ps3>600) | (ps3<400)]

In [ ]:
(ps3>600) | (ps3<400)

In [ ]:
ps3

In [ ]:
ps3['Tata'] = 2000

In [ ]:
ps3

In [ ]:
ps3['Tata':'Adani'] = 22222

In [ ]:
ps3

In [ ]:
ps3['Tata':'Adani'] = [444,555,666]
ps3

In [ ]:
ps3['HCL'] = 567

In [ ]:
ps3

In [ ]:
ps3['HCL'] = 456

In [ ]:
ps3

In [ ]:
ps3['1010'] = 234

In [ ]:
ps3

In [ ]:
ps3['Tata'] = 'Hello'

In [ ]:
ps3

In [ ]:
ps3.values

In [ ]:
print(type(ps3.values))

In [ ]:
ps3.values.dtype

In [ ]:
md = {'Tata': 200, 'Birla': 300, 'Hero':200, 'Volvo':500, 'Infy':300, 'Wipro':200, 'HCL':100}
ps3 = pd.Series(md)

print(ps3)
print()
print(ps3 [ (ps3>200) & (ps3<500) ])

In [ ]:
md = {'Tata': 200, 'Birla': 300, 'Hero':200, 'Volvo':500, 'Infy':300, 'Wipro':200, 'HCL':100}
ps3 = pd.Series(md)
ps3

In [ ]:
ps3.describe()

In [ ]:
ps3.count()

In [ ]:
ps3.value_counts()

In [ ]:
ps3

In [ ]:
ps3.max()

In [ ]:
ps3.min()

In [ ]:
ps3.median()

In [ ]:
ps3.std()

In [ ]:
ps3.var()

In [ ]:
len(ps3.index)

In [ ]:
ps3

In [ ]:
x = ps3.value_counts()
print(x)
print(type(x))

In [ ]:
x.index

In [ ]:
x.values

In [ ]:
x[200]

In [ ]:
ps3.value_counts()[200]

In [ ]:
ps3.describe()

In [ ]:
ps3

In [ ]:
md = {'Tata': '200', 'Birla': '300', 'Hero':'200', 'Volvo':'500', 'Infy':'300', 'Wipro':'200', 'HCL':'100'}
ps4 = pd.Series(md)

In [ ]:
ps4.describe()

In [ ]:
md1 = {'Tata':100, 'Adani':300, 'Infy':800}               # Pandas using Dictionary
ps3 = pd.Series(md1)
ps3

In [ ]:
ps3.describe()

In [ ]:
ps3.std()

In [ ]:
ps3.var()

In [ ]:
ps3.var() ** 0.5

# Data Frames

         Vol  Exp  Rev
Tata     100  101  102
Birla     103 
Wipro
Infy
Adani

In [ ]:
def giveValue():
    dfvalues = np.arange(200,200+15).reshape(5,3)
    return dfvalues

In [ ]:
row_label_list = ['Tata', 'Birla', 'Wipro', 'Infy', 'Adani']
col_label_list = ['Vol', 'Exp', 'Rev']

In [ ]:
df1 = pd.DataFrame(data=giveValue(), index=row_label_list, columns=col_label_list)
df1

In [ ]:
          roll_num  PDS1  PDS2  PDS3

Sinha      100
Arun       101
Ajai
Akshay

In [ ]:
df1.index

In [ ]:
df1.columns

In [ ]:
df1.values

In [ ]:
df1.ndim

In [ ]:
df1.shape

In [ ]:
df1.describe()

In [ ]:
md1 = {'Vol':[200,201,202,203,204], 'Rev':[300,301,302,303,304], 'Exp':[400,401,402,403,404]}

In [ ]:
df2 = pd.DataFrame(md1, index=row_label_list)
df2

In [ ]:
print(type(df2))

In [ ]:
df2.describe()

In [ ]:
df2.info()

# Df Access

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
df1

In [ ]:
df1.to_csv('local.csv')

In [ ]:
df1.to_excel('local.xls')

In [ ]:
df1.to_html('local.html')

In [ ]:
df1.to_json('local.json')

In [ ]:
dfe = pd.read_excel('local.xls',index_col=0)
dfe

In [ ]:
dfh = pd.read_html('local.html', index_col=0)[0]
print(dfh)
print(type(dfh))

In [ ]:
dfj = pd.read_json('local.json')
dfj

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
df1

In [ ]:
df1

In [ ]:
df1.head(3)

In [ ]:
df1.tail()

In [ ]:
df1.info()

In [ ]:
df1.describe()

In [ ]:
df1.describe(include='all')

In [ ]:
print(type(np.NaN))

# df Access

In [ ]:
#Direct Access
# iloc based Access  #integer location based access
# loc based Access   # label based access

Direct Access

In [ ]:
df1

In [ ]:
c = df1['HQ']
print(c)
print(type(c))

In [ ]:
c.value_counts()

In [ ]:
df1['HQ'].value_counts()

In [ ]:
x = df1['Catg'].value_counts()
print(x)
print(type(x))

In [ ]:
df1

In [ ]:
df1['Bombay_Sporting']

In [ ]:
df1

In [ ]:
x = df1[   ['Vol', 'HQ', 'Catg']]
print(x)
print(type(x))

In [ ]:
df1

In [ ]:
df1['Bombay_Sporting':'Bangalore_Breweries']

In [ ]:
df1['Kolkata_FMCG':'Kolkata_FMCG']

In [ ]:
df1['Bangalore_Breweries':'Kolkata_FMCG':-1]

#  Direct Indexing Access Grammer
#df1[<col_label>]
#df1[  [Vector of col labels] ]
###df1[row_index_start : row_index_end]

In [ ]:
df1

In [ ]:
df1['Rev']

In [ ]:
df1.Rev

In [ ]:
dir(df1)

In [ ]:
df1

In [ ]:
df1['Kolkata_FMCG':'Kolkata_FMCG']['Catg'].values[0]

# iLOC based Access

In [ ]:
df1

In [ ]:
df1.iloc[0]

In [ ]:
df1.iloc[0,0]

In [ ]:
df1.iloc[-1,-1]

In [ ]:
df1.index

In [ ]:
df1.columns

In [ ]:
print(type(df1.iloc))

In [ ]:
df1

In [ ]:
df1.iloc[0:3]

In [ ]:
x = df1.iloc[3:6, 2:5]
print(x)
print(type(x))

In [ ]:
df1

In [ ]:
x = df1.iloc[3:4, 3:5]
print(x)
print(type(x))

In [ ]:
df1.iloc[3:5]

In [ ]:
df1

In [ ]:
df1.iloc[ [0,-1,2,3] ]

In [ ]:
df1.iloc[ [0,-1,2,3],  [0,-1,-2] ]

# iloc Grammer

# df1.iloc[row_n_index, col_n_index]
# df1.iloc[  row_n_slice,   col_n_slice]
# df1.iloc[ [row_n_vector],  [col_n_vector]]
# combo of all of them

In [ ]:
df1

In [ ]:
r_mask = df1['Vol'] > 931
print(r_mask)

In [ ]:
df1[r_mask]

In [ ]:
df1[df1.Vol>931]

In [ ]:
df1[df1.Catg=='Pub']

In [ ]:
df1

In [ ]:
df1[df1.Catg=='Pub']

In [ ]:
df1[(df1.Catg=='Pub') & (df1.Vol > 940)]

In [ ]:
df1.Catg.str.upper()

# LOC Based Access

In [ ]:
df1

In [ ]:
df1.loc['Bombay_Finance']

In [ ]:
df1.loc['Bombay_Finance','Catg']

In [ ]:
df1.loc['NCR_Leagles': 'Bangalore_Breweries']

In [ ]:
df1.loc['NCR_Leagles': 'Bangalore_Breweries',  'Rev': 'EmpCnt']

In [ ]:
df1

In [ ]:
df1.loc[  ['NCR_Leagles', 'Indi_Services', 'Bangalore_Breweries']  ]

In [ ]:
df1.loc[  ['NCR_Leagles', 'Indi_Services', 'Bangalore_Breweries'] ,  ['EmpCnt','Rev','HQ', 'Catg'] ]

In [ ]:
# loc Grammer

# df1.iloc[row_l_index, col_l_index]
# df1.iloc[  row_l_slice,   col_l_slice]
# df1.iloc[ [row_l_vector],  [col_l_vector]]
# combo of all of them

In [ ]:
df1

In [ ]:
df1.loc['Bombay_Finance': 'Chennai_Shipping',  'Vol': 'Catg']

In [ ]:
df1.columns

In [ ]:
df1.columns[2]

In [ ]:
df1.loc[:, df1.columns[2]]

In [ ]:
df1.columns

In [ ]:
df1.columns.get_loc('Exp')

# Sorting

In [330]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
df1

                     Vol    Rev  Exp Catg  EmpCnt   HQ
Bombay_Finance       899  917.0  674  Pub    1443  Mum
Bombay_Sporting      925  839.8  615  Pvt     154  Mum
Kolkata_FMCG         900  874.4  676  Pub    1379  Kol
NCR_Leagles          931  863.5  605  Pub    1935  NCR
Chennai_Shipping     992  821.0  665  Pub    1154  Che
Bangalore_Systems    931  881.6  650  Gov    1361  Blr
Bangalore_Breweries  966  805.0  895  Pvt     119  Blr
Chennai_Chemicals    966  863.2  608  Pub    1656  Che
Indi_Services        954  733.0  609  Gov   13023  NCR

In [ ]:
df1.sort_index()

In [ ]:
df2 = df1.sort_index(axis=1, inplace=True, ascending=False)
print(df2)
print()
print(df1)

In [ ]:
df1

In [ ]:
df1.sort_values(by='Vol',ascending=False)

In [326]:
df1.sort_values(by=['Vol','Rev'],ascending=[False,True], inplace=True, axis=0)

In [327]:
df1

                     Vol    Rev   HQ  Exp  EmpCnt Catg
Chennai_Shipping     992  821.0  Che  665    1154  Pub
Bangalore_Breweries  966  805.0  Blr  895     119  Pvt
Chennai_Chemicals    966  863.2  Che  608    1656  Pub
Indi_Services        954  733.0  NCR  609   13023  Gov
NCR_Leagles          931  863.5  NCR  605    1935  Pub
Bangalore_Systems    931  881.6  Blr  650    1361  Gov
Bombay_Sporting      925  839.8  Mum  615     154  Pvt
Kolkata_FMCG         900  874.4  Kol  676    1379  Pub
Bombay_Finance       899  917.0  Mum  674    1443  Pub

In [328]:
df1.sort_values(by='Bangalore_Breweries',ascending=True,axis=1)

TypeError: '>' not supported between instances of 'numpy.ndarray' and 'str'

In [329]:
1 > 'hello'

TypeError: '>' not supported between instances of 'int' and 'str'

In [332]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
print(df1)
df2 = df1.sort_index(axis=1)
print(df2)

                     Vol    Rev  Exp Catg  EmpCnt   HQ
Bombay_Finance       899  917.0  674  Pub    1443  Mum
Bombay_Sporting      925  839.8  615  Pvt     154  Mum
Kolkata_FMCG         900  874.4  676  Pub    1379  Kol
NCR_Leagles          931  863.5  605  Pub    1935  NCR
Chennai_Shipping     992  821.0  665  Pub    1154  Che
Bangalore_Systems    931  881.6  650  Gov    1361  Blr
Bangalore_Breweries  966  805.0  895  Pvt     119  Blr
Chennai_Chemicals    966  863.2  608  Pub    1656  Che
Indi_Services        954  733.0  609  Gov   13023  NCR
                    Catg  EmpCnt  Exp   HQ    Rev  Vol
Bombay_Finance       Pub    1443  674  Mum  917.0  899
Bombay_Sporting      Pvt     154  615  Mum  839.8  925
Kolkata_FMCG         Pub    1379  676  Kol  874.4  900
NCR_Leagles          Pub    1935  605  NCR  863.5  931
Chennai_Shipping     Pub    1154  665  Che  821.0  992
Bangalore_Systems    Gov    1361  650  Blr  881.6  931
Bangalore_Breweries  Pvt     119  895  Blr  805.0  966
Chennai_Chemicals    Pub    1656  608  Che  863.2  966
Indi_Services        Gov   13023  609  NCR  733.0  954

In [335]:
df1.describe(include='all')

               Vol         Rev         Exp Catg        EmpCnt   HQ
count     9.000000    9.000000    9.000000    9      9.000000    9
unique         NaN         NaN         NaN    3           NaN    5
top            NaN         NaN         NaN  Pub           NaN  Blr
freq           NaN         NaN         NaN    5           NaN    2
mean    940.444444  844.277778  666.333333  NaN   2469.333333  NaN
std      31.460734   53.389788   90.689029  NaN   4006.439036  NaN
min     899.000000  733.000000  605.000000  NaN    119.000000  NaN
25%     925.000000  821.000000  609.000000  NaN   1154.000000  NaN
50%     931.000000  863.200000  650.000000  NaN   1379.000000  NaN
75%     966.000000  874.400000  674.000000  NaN   1656.000000  NaN
max     992.000000  917.000000  895.000000  NaN  13023.000000  NaN

In [336]:
df1.Catg.value_counts()

Pub    5
Gov    2
Pvt    2
Name: Catg, dtype: int64

In [337]:
df1.HQ.value_counts()

Blr    2
Mum    2
Che    2
NCR    2
Kol    1
Name: HQ, dtype: int64