<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Day 2)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 1. Create a dictionary named 'europe_dict' which has names of countries in europe, their capital and their population. 
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table>
  <tr>
  <th>Country </th>
  <th>Capital</th>
  <th>Population</th>    
  </tr>
  <tr>
  <td>Spain</td>
  <td>Madrid</td>
  <td>46.77</td>    
  </tr>
  <tr>
  <td>France</td>
  <td>Paris</td>
  <td>66.03</td> 
  </tr>
  <tr>
  <td>Germany</td>
  <td>Berlin</td>
  <td>80.62</td> 
  </tr>
  <tr>
  <td>Norway</td>
  <td>Oslo</td>
  <td>5.084 </td> 
</tr>
</table>

In [1]:
# type your code here

<table>
  <tr>
  <th>Country </th>
  <th>FamousFor</th>   
  </tr>
  <tr>
  <td>Spain</td>
  <td>Football</td>  
  </tr>
  <tr>
  <td>France</td>
  <td>Eiffel Tower</td>
  </tr>
  <tr>
  <td>Germany</td>
  <td>Cars</td>
  </tr>
  <tr>
  <td>Norway</td>
  <td>Midnight sun</td>
</tr>
</table>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 2. In the data in question 1, add a new column 'FamousFor'. The column tells what each country is famous for.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 3. Use the data created in question 1, to do the following:
                          <ol type = '1'>
                              <li>  Access column 'Captial' by specifying the column number. </li>
                              <li>  Access column 'Population' by specifying the column name.
                              <li>  Access a country information </li>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
# 1. Access column 'Captial' by specifying the column number.

# type your code here

In [4]:
# 2. Access column 'Population' by specifying the column name.

# type your code here

In [5]:
# 3. Access a country information

# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 4. Read a csv file "products.csv", print it and also check its dimensions
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [6]:
# read the file

# type your code here

In [7]:
# check dimension/shape of the dataframe

# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 5. Create a new column Profit, calculate the profit using selling price and the cost price.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [8]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 6. Create a pandas series having values 4, 7, -5, 3, NAN and their index as d, b, a, c, e
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
## type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 7. Using the series in question 6, find:
                        <ol type = '1'>
                            <li> the minimum of all values </li>
                            <li> the maximum of all value </li>
                        </ol>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
# the minimum of all values

# type your code here

In [11]:
# the maximum of all value

# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 8. Using the series in question 6, sort:
                         <ol type = '1'>
                             <li>  the values in ascending order </li>
                             <li>  the values in decending order  </li>
                        </ol>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [12]:
# sorting the values in ascending order

# type your code here

In [13]:
# sorting the values in decending order

# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 9. Import dataset 'flights' from library seaborn. Print the first 10 rows and last 20 rows of the data set.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [14]:
# import the dataset

# type your code here

In [15]:
# print the first 10 rows

# type your code here

In [16]:
# print the last 20 rows

# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 10. Import dataset 'iris' from library seaborn. Check for datatypes of all variable.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [17]:
# load the iris data set as iris

# type your code here

In [18]:
# check for data types

# type your code here