<table align="left" width=100%>
    <tr>
        <td width="20%">
            <img src="faculty.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                  <b> Faculty Notebook <br> (Day 3) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Conditional Statements and Loops](#loops)**
    - 1.1 - [if statement](#if_statement)
    - 1.2 - [if else statement](#if_else)
    - 1.3 - [if elif else](#if_elif_else)
    - 1.4 - [nested if and if else statement](#nested_if)
    - 1.5 - [for loop](#forloop)
    - 1.6 - [while loop](#whileloop)
    - 1.7 - [break statement](#break_statement)
    - 1.8 - [continue statement](#continue_statement)
2. **[ Examples of Conditional Statement and Loops](#examples)**
    - 2.1 - [if statement](#if_statement)
    - 2.2 - [if else statement](#if_else)
    - 2.3 - [nested conditions](#if_elif_else)
    - 2.4 - [for loop and nested for loop](#for_and_nested)
    - 2.5 - [while loop](#while_loop)
3. **[ What are List Comprehensions](#List_Comprehensions)**
    - 3.1 - [for loop](#for_loop_list)
    - 3.2 - [nested for loop](#nested_for_loop_list)
    - 3.3 - [if statement](#if_list)
    - 3.4 - [nested condition](#nested_condition)

<a id="loops"> </a>
## 1. Conditional Statements and Loops

<a id="if_statement"> </a>
## 1.1 if statement
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>
                    It decides whether given statements needs to be executed or not.<br>
                    It checks for a given condition, if the condition is true, then the code present inside the if block will be executed.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Important things about if statements:
<em>
<table align="left">
    <tr>
        <td>
            <div align="left", style="font-size:125%">
                <font color="#21618C">
                    <b>1. The colon (:) is significant and required. It separates the header of the compound statement from the body<br>
                    2. The line after the colon should be indented. Use four spaces for indenting<br>                </font>
            </div>
        </td>
    </tr>
</table>

</em>

**syntax:**<br><br>
if BOOLEAN EXPRESSION:<br>
&nbsp;&nbsp;    STATEMENTS

**Take a look at the flow chart:**
            <img src="flowchart_if.png">

Now, we will see some examples on if statements

In [78]:
# create a string
my_string = 'Python'

# create a list
my_list = ['Data Science', 'Machine Learning', 'Artificial Intelligence', 'Python']

if my_string in my_list:
    print(my_string + ' Tutorial')

Python Tutorial

Check whether the item is a member of a list or not

In [79]:
languages = ['java', 'python' ,'perl', 'ruby', 'c#']
if 'python' in languages:
    print('right')

right

<a id="if_else"> </a>
## 1.2 if else statement
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>The if..else statement evaluates test expression and will execute the body of if only when test condition is True.<br><br>
                    'If' decides whether certain statements need to be executed or not.<br><br>
                    In case, the condition is false,the body of 'else' is executed.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Syntax of if...else**<br><br>
if BOOLEAN EXPRESSION:<br>
&nbsp;&nbsp;    STATEMENTS_1<br>
else:<br>
&nbsp;&nbsp;    STATEMENTS_2

**Flow chart of a if else statement:**
            <img src="flowchart_if_else.png">

Let’s see an example on the if…else statement.

In [80]:
# create a integer
x = 200
print(x)

# use if else statement
if not x == 500:
    print('the value of x is not equal to 500')
else:
    print('the value of x is equal to 500')

200
the value of x is not equal to 500

In [81]:
# create a integer
n = 150
print(n)

# If number is greater than 400, n is multiplied by 8, otherwise n is divided by 8
result = n * 8 if n > 400 else n / 8
print(result)

150
18.75

Check whether the two numbers are equal or not

In [9]:
a = 3; b=3
if (a == b):  ## indent is very important
    print("A & B are Equal")
else:
    print("A & B are not Equal")

A & B are Equal

In [10]:
string1 = input("Enter your userid ")
string2 = input("Enter your password ")

if (string1 == "xyz" and string2 == "xyz123"):
    print("Successfully logged in!!")
else :
    print("Please check your userid and password")

Enter your userid xyz
Enter your password xyz123
Successfully logged in!!

<a id="if_elif_else"> </a>
## 1.3 if-elif-else
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>The elif is short for else-if. It checks for multiple expressions.<br>
                    &nbsp;If the condition for 'if' is False, it checks the condition for the next elif statement.<br>
                    &nbsp;If all the conditions are False, the else statement is executed.<br>
                   The if statement can have only one else block. But it can have multiple elif blocks.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Syntax of if elif else:**<br>
if x < y:<br>
&nbsp;&nbsp;    STATEMENTS_A<br>
elif x > y:<br>
&nbsp;&nbsp    STATEMENTS_B<br>
else:<br>
&nbsp;&nbsp;    STATEMENTS_C

**Here is the flow chart of if elif else:**
            <img src="flowchart_if_elif.png">

Find the type of given variable

In [84]:
var = 1+3j
if (type(var) == int):
    print("Type of the variable is Integer")
elif (type(var) == float):
    print("Type of the variable is Float")
elif (type(var) == complex):
    print("Type of the variable is Complex")
elif (type(var) == bool):
    print("Type of the variable is Bool")
elif (type(var) == str):
    print("Type of the variable is String")
elif (type(var) == tuple):
    print("Type of the variable is Tuple")
elif (type(var) == dict):
    print("Type of the variable is Dictionaries")
elif (type(var) == list):
    print("Type of the variable is List")
else:
    print("Type of the variable is Unknown")

Type of the variable is Complex

Check whether the given number is greater than 50 or not

In [85]:
num = 100
if (num == 0):
    print("Number is Zero")
elif (num > 5):
    print("Number is greater than 50")
else:
    print("Number is smaller than 50")

Number is greater than 50

<a id="nested_if"> </a>
## 1.4 nested if and if else statement
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                <b>Nested statements are used to execute different piece of code when we have more than two options to handle.<br>
                    <b>Nested statements mean that an if statement or if-else statement is present inside another if or if-else block.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [86]:
num = float(input("Enter a number: "))
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Enter a number: 34
Positive number

In [12]:
# nested if else in python

score = int(input("Enter your score: "))

if(score <=100 and score >= 90): 
    print("distinction")
elif(score < 90 and score >= 80):
    print("A Grade")
elif(score < 80 and score >= 70):
    print("B Grade")
elif(score < 70 and score >= 60):
    print("C Grade")
elif(score < 60 and score > 50):
    print("D Grade")
elif(score == 50):
    print("E Grade")
elif(score < 50 and score >= 0):
    print("U Grade")
else:
    print("Enter a valid score between 0 and 100")

Enter your score: 78
B Grade

<a id="forloop"> </a>
## 1.5 for loop
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                <b>The 'for' loop in python is used to execute a block of statements or code several times until the given condition becomes false.<br>
                <b>It is used to iterate over a sequence (list, tuple, string) or other iterable objects.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Syntax of for loop:**<br>
for val in sequence:<br>
&nbsp;&nbsp;	Body of for

**Here is the flow chart of for loop:**
            <img src="forloop.jpg">

In [88]:
# find the sum of all numbers in a given list

# given list
num_list = [66, 545, 223, 438, 224, 122, 125, 214, 111]

# variable to store the sum
total = 0

# iterate over the list
for val in num_list:
    total = total+val

# Output: The sum is 2068
print("The sum is", total)

The sum is 2068

In [89]:
# Print the numbers 0,1,2,3,4,5
for x in range(6):
    print(x)

0
1
2
3
4
5

In [90]:
int_list = [134, 222, 113, 234, 375, 620]
sum = 0
for iter in int_list:
    sum += iter

print("Sum =", sum)
print("Avg =", sum/len(int_list))

Sum = 1698
Avg = 283.0

<a id="whileloop"> </a>
## 1.6 while loop
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                <b>While loop executes the same procedure by checking a given condition until the condition is false<br> 
                The condition is given before the loop and is checked before each execution of the loop.<br> 
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Syntax of for loop:**<br>
while (expression):<br>
&nbsp;&nbsp;     statement_1<br>
&nbsp;&nbsp;     statement_2<br>
    ....

In [91]:
# print the digit 0 to 4
x = 0;
while (x < 5):
     print(x)
     x += 1

0
1
2
3
4

Calculate the sum of the integers from 0 to 9

In [92]:
a = 0;
b = 0
while (a < 10):
     b = b + a
     a = a + 1
else :
     print('The sum of first 9 integers : ',b)

The sum of first 9 integers :  45

In [93]:
# find the length of input
n = int(input())
length = 0
while True:
    length += 1
    n //= 10
    if n == 0:
        break
print('Length is', length)

345
Length is 3

<a id="break_statement"> </a>
## 1.7 break statement
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                <b>The break statement is used to stop the loop when a particular condition is true.<br><br>
                It is generally used inside a loop along with an if statement so that when a particular condition returns true, the break statement terminates the loop.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [94]:
# display all the number before 838
for num in [131, 92, 838, 120, 920, 233,321, 119]:
   print(num)
   if(num==838):
        print("The number 838 is found")
        print("Terminating the loop")
        break

131
92
838
The number 838 is found
Terminating the loop

Check whether a number given by the user is negative or not.

In [95]:
for i in range(5):
    a = int(input())
    if a < 0:
        print('Met a negative number', a)
        break
else:
    print('No negative numbers met')

56
67
-78
Met a negative number -78

### <a id="continue_statement"> </a>
## 1.8 continue statement
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                <b>Continue is also a loop control statement similar to the break statement.<br><br>
                But unlike the break statement, it executes the next iteration of the loop instead of terminating the loop.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [96]:
for char in 'Python':
    if (char == 'y'):
        continue
    print('Current character: ', char)

Current character:  P
Current character:  t
Current character:  h
Current character:  o
Current character:  n

In [97]:
# loop from 1 to 10 
for i in range(1, 11): 
    if i == 6: 
        continue
    else: 
        # otherwise print the value of i 
        print(i, end = " ")

1 2 3 4 5 7 8 9 10

Use of continue statement in a while loop

In [98]:
i = 0
while i < 9:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6
7
8
9

<a id="examples"> </a>
## 2. Examples of Conditional Statement and Loops

<a id="if_statement"> </a>
## 2.1 if statement

Now, we will see some examples on if statements

**Check whether the number is smaller than 4738 or not**

In [1]:
# store a number
Val = 3636
# use if statement
if(Val<4738):
    print("number is smaller than 4738")

number is smaller than 4738

In the above example, we have declared a variable called ‘Val’ and assigned it the value 3636. Using the if statement we are checking whether the number is less than 4738 or not. If the condition is true then statements inside the 'if' block will be executed

**Check whether the number is positive or not**

In [2]:
# store a number
Val = 453
# use if statement
if Val > 0:
    print(Val, "is a positive number")

453 is a positive number

<a id="if_else"> </a>
## 2.2 if...else statement

Let's see the implementation of the if…else statement with an example

**Find out if the given number is non negative**

In [3]:
# store a number
a = -5
# use if else statement
if a >= 0:
    print("The number is zero or positive")
else:
    print("The number is negative")

The number is negative

**Check whether the number is even or odd**

In [4]:
# store a number
num = 22
# use if else statement
if num % 2 == 0:
    print("The number is even")
else:
    print("The number is odd")

The number is even

<a id="if_elif_else"> </a>
## 2.3 nested conditions

**Let’s check whether the given number is odd as well as greater than 20**

In [5]:
# store a number
x = 45
# use if else in if else (nested condition)
if x%2 != 0:
    if x > 20:
        print("This number is odd and is greater than 20")
    else:
        print("This is number is odd but not greater than 20")
else:
    print("This number is even")

This number is odd and is greater than 20

**Create a simple calculator using if elif condition**

In [6]:
# enter the first input
Value1 = float(input("Enter first number: "))
# enter the operator
op = input("Enter operator: ")
# enter the second input
Value2 = float(input("Enter second number: "))
# create a calculator using if elif condition
if op == '+':
    print(Value1 + Value2)
elif op == '-':
    print(Value1 - Value2)
elif op == '/':
    print(Value1 / Value2)
elif op == '*':
    print(Value1 * Value2)
else:
    print("Invalid Operator")

Enter first number: 34
Enter operator: -
Enter second number: 43
-9.0

**Example of nested if else statement**

In [7]:
# enter the input
person_age = int(input(" Enter your age here:  "))
# use nested if else statement
if person_age < 18:
    print(" You are underaged ") 
else:
    if person_age >= 18 and person_age <= 60:
        print(" You are eligible for the application ")
        print(" Please fill in the required details and apply ")
    else:
        print(" You are not eligible as per the rule")

 Enter your age here:  23
 You are eligible for the application
 Please fill in the required details and apply

In this program, when you enter your age it gets stored in the variable 'person_age'. If the entered age is less than 18, result for that condition gets printed ("You are underaged"). If the age is above 18 which implies condition is not true, one more condition is checked (Nested inside outer if block) and if it is true,result for that condition is printed ("You are eligible for the application" and statements after that in nested-if block). If the nested condition is not true, the other statement is printed ("You are not eligible as per the rule" and statements after that in nested-else block).

**Program to display the grade of the student**

In [8]:
# enter the input
Marks = int(input(" Enter Your Marks Here:  "))
# use if elif else
if Marks >= 90:
    print("A grade")

elif Marks >=80:
    print("B grade")

elif Marks >=70:
    print("C grade")

elif Marks >= 65:
    print("D grade")

else:
    print("F grade")

 Enter Your Marks Here:  78
C grade

Now, there are five possible outputs that can occur once we run the program:<br>
1. If the marks are greater than 90, the program will print A grade, if the marks are less than 90, the execution will jump to the next statement<br>
2. If the marks are greater than or equal to 80, the program will print B grade, if the marks are less than or equal to 79, the execution will jump to the next statement<br>
3. If the marks are greater than or equal to 70, the program will print C grade, if the marks are less than or equal to 69, the execution will jump to the next statement<br>
4. If the marks are greater than or equal to 65, the program will print D grade, if the marks are less than or equal to 64, the execution will jump to the next statement<br>
5. In case all the above conditions were false the program will print F grade

**Enter the Selling Price and calculate discount based on the range of Selling Price.The discount rate is:<br> 
5% if Selling Price is atmost 5000<br>
12% if Selling Price is atmost 15000<br>
20% if Selling Price is atmost 25000<br>
30% if Selling Price is more than 25000<br>**

In [9]:
# enter the input
amt = int(input("Enter Selling Price: "))
# checking conditions and calculating discount
if(amt>0):
    if amt<=5000:
        disc = amt*0.05
    elif amt<=15000:
        disc=amt*0.12
    elif amt<=25000:
        disc=0.2 * amt
    else:
         disc=0.3 * amt
    print("Discount : ",disc)
    print("Final Amount Due  : ",amt-disc)
else:
    print("Invalid Amount")

Enter Selling Price: 45000
Discount :  13500.0
Final Amount Due  :  31500.0

**Find largest number among three numbers**

In [10]:
# enter the first input
num1 = float(input("Enter first number: "))
# enter the second input
num2 = float(input("Enter second number: "))
# enter the third input
num3 = float(input("Enter third number: "))
# use if elif else statement 
if (num1 > num2) and (num1 > num3):
    largest = num1
    print("The largest number is",largest)
elif (num2 > num1) and (num2 > num3):
    largest = num2
    print("The largest number is",largest)
else:
    largest = num3
    print("The largest number is",largest)

Enter first number: 12
Enter second number: 23
Enter third number: 45
The largest number is 45.0

**Find the sum of natural numbers up to n**

In [11]:
# sum of natural numbers
num = 16
# use while loop along with if else
if num < 0:
    print("Enter a positive number")
else:
    sum = 0
    while(num > 0):
        sum += num
        num -= 1
    print("The sum is",sum)

The sum is 136

<a id="for_and_nested"> </a>
## 2.4 for loop and nested for loop

**Calculate the square of each element in the list**

In [12]:
# create a list
list_1 = [1,3,13,91,100,200]
# use for loop to iterate over a list
for i in list_1:
    print(i*i)

1
9
169
8281
10000
40000

**Write a code to print table of given number**

In [13]:
# enter the input
n=int(input())
# use for loop to create a table
for i in range(1,11):
    print(n,"x",i,"=",n*i)

4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

**Let’ see now how to print full pyramid and asterisk(star) patterns in python**

In [14]:
print("Print full triangle using stars")
size = 5
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    m = m - 1 # decrementing m after each loop
    for j in range(0, i + 1): 
        # printing full Triangle pyramid using stars
        print("* ", end=' ')
    print(" ")

Print full triangle using stars
        *
       *  *
      *  *  *
     *  *  *  *
    *  *  *  *  *

**Form a lower tringular matrix in ' * ' pattern**

In [15]:
for i in range(0, 5):
    for j in range(0, i+1):
        print("* ",end="")
    print()

*
* *
* * *
* * * *
* * * * *

**Write a program to print alphabetical pattern using ascii values**

In [16]:
for i in range (65,70):
    # inner loop
    for j in range(65,i+1):
        print(chr(j),end="")
    print()

A
AB
ABC
ABCD
ABCDE

**Access each individual item of the sublists using nested for loop**

In [17]:
list_of_lists = [['Pune', 'Mumbai', 'Delhi'],[23, 12, 32],[9.29, 8.28, 7.27]]

for list in list_of_lists:
    for item in list:
        print(item)

Pune
Mumbai
Delhi
23
12
32
9.29
8.28
7.27

**Read a number n and print an identity matrix of the same order**

In [18]:
# identity matrix
n=int(input("Enter a number: "))
for i in range(0,n):
    for j in range(0,n):
        if(i==j):
            print("1",sep=" ",end=" ")
        else:
            print("0",sep=" ",end=" ")
    print()

Enter a number: 3
1 0 0
0 1 0
0 0 1

**Access each individual letter from the given list of words**

In [19]:
words= ["Apple", "Banana", "Car", "Dolphin" ]
for word in words:
        #access word from the list
        print ("The following lines will print each letters of "+word)
        for letter in word:
                #access letter for the word
                print (letter)
        print("")

The following lines will print each letters of Apple
A
p
p
l
e

The following lines will print each letters of Banana
B
a
n
a
n
a

The following lines will print each letters of Car
C
a
r

The following lines will print each letters of Dolphin
D
o
l
p
h
i
n

**Print a number pattern using a for loop and range function**

In [20]:
# 15 is the total number to print
for num in range(15):
    for i in range(num):
        print (num, end=" ") #print number
    # new line after each row to display pattern correctly
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

10 10 10 10 10 10 10 10 10 10

11 11 11 11 11 11 11 11 11 11 11

12 12 12 12 12 12 12 12 12 12 12 12

13 13 13 13 13 13 13 13 13 13 13 13 13

14 14 14 14 14 14 14 14 14 14 14 14 14 14

**Find the first 3-digit number that’s divisible by 12**

In [21]:
for i in range(0, 1000, 12):
    if len(str(i)) == 3:
        print(i)
        break

108

**Display all the odd numbers in a given list.Make use of 'continue'  statement**

In [22]:
for num in [230, 211, 932, 626, 234, 829, 424]:
    if num%2 == 0:
        continue
    print(num)

211
829

<a id="while_loop"> </a>
## 2.5 while loop

In [23]:
# while loop with if else
a = 7
while a > 0:
    a = a - 1
    if a == 2:
        break
    print(a)
else:
    print("Loop is finished")

6
5
4
3

In [24]:
# break in while
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [25]:
# break in while loop
while True:
    n = input("Please enter 'hello':")
    if n.strip() == 'hello':
        break

Please enter 'hello':hello

In [26]:
# break in while loop
num_sum = 0
count = 0
while(count<10):
    num_sum = num_sum + count
    count = count + 1 
    if count== 4:
        break
print("Sum of first",count,"integers is:", num_sum)

Sum of first 4 integers is: 6

In [27]:
# continue in while loop
i = 0
while i < 7:
  i += 1
  if i == 4:
    continue
  print(i)

1
2
3
5
6
7

In [28]:
# continue in while loop
for x in range(7):
    if (x == 3 or x==6):
        continue
    print(x)

0
1
2
4
5

<a id="List_Comprehensions"> </a>
## 3. What are List Comprehensions?

<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>List comprehensions are used to create a new list from an existing iterable. While creating the new list, elements from the iterable can be selectively included in the new list (based on conditions) and transformed as required.<br>
                        <br>Following are the three Components of list comprehensions:<br>
                        . Iterable<br>
                        . Output expression<br>
                        . Iterator variable which takes the values of the members of the iterable
                        
                        <img src="list.png", height="400", width="400">
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**In python, list comprehensions are constructed as follows:**<br>
    
    list = [x for x in iterable]

<a id="List_Comprehensions_loops"> </a>
## List Comprehensions vs loops

<a id="for_loop_list"> </a>
### 3.1. for loop

Let’s create a new list using a given string:<br>
Suppose, you want to separate each element of the string 'Great Lakes' and make a list out of them. The immediate approach would be to make use of for loop<br>

In [29]:
# Using loop for constructing output list 
letter_list=[]
for i in 'Great Lakes':
    letter_list.append(i)
letter_list

['G', 'r', 'e', 'a', 't', ' ', 'L', 'a', 'k', 'e', 's']

Here, the output is encapsulated within square brackets that means it is a list. letter_list.append(i) is the function used to add 'i' ( obtained from new iteration ) to the array from previous iteration executed. 'i' takes values of letters from the string 'Great Lakes'.But with a python list comprehension, we can do this in one line

<table align="left">
    <tr>
        <td width="7%">
            <img src="caution.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Remember that a python string is iterable. We can not iterate dictionary like this. Iterating through a dictionary gives us error since dictionary objects do not have the attribute 'append'
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [30]:
# Using loop for constructing output dictionary
dict_1={}
for i in 'Great Lakes':
    dict_1.append(i)
dict_1

AttributeError: 'dict' object has no attribute 'append'

In [31]:
# using list comprehensions
new_list = [i for i in 'Great Lakes']
print(new_list)

['G', 'r', 'e', 'a', 't', ' ', 'L', 'a', 'k', 'e', 's']

From the output we can see, a new list is created and assigned to the 'new_list' variable, and list contains the items of the iterable string 'Great Lakes'. We use print() function to print the output

**Find the squares of each element using list comprehension**

In [32]:
num = [13, 32, 33, 24]
num_squares = [n**2 for n in num]

print(num_squares)

[169, 1024, 1089, 576]

Here, the output is encapsulated within square brackets that means it is a list. n**2 is the expression executed for each n. 'n' takes values of elements in 'num'

**We can use list comprehension to iterate over list of strings. Convert all the words in the given list to the upper case**

In [33]:
list_1 = ["yes", "it's", "a", "Beautiful", "Day"]

upper_list_1 = [str.upper() for str in list_1]

print(upper_list_1)

['YES', "IT'S", 'A', 'BEAUTIFUL', 'DAY']

**List comprehensions can be used to produce a list of a lists, as shown below:**

In [34]:
list_1 = [11, 12, 13, 14]

square_cube_num = [ [a**2, a**3] for a in list_1]

print(square_cube_num)

[[121, 1331], [144, 1728], [169, 2197], [196, 2744]]

Here we use list_1 to create square_cube_num, which is a list of lists that comprises of values of squares and cubes of the numbers from list_1

<a id="nested_for_loop_list"> </a>
### 3.2 nested for loop

**Print the tables of numbers from 13 to 17**

In [35]:
[[i*j for j in range(1,11)] for i in range(13,18)]

[[13, 26, 39, 52, 65, 78, 91, 104, 117, 130],
 [14, 28, 42, 56, 70, 84, 98, 112, 126, 140],
 [15, 30, 45, 60, 75, 90, 105, 120, 135, 150],
 [16, 32, 48, 64, 80, 96, 112, 128, 144, 160],
 [17, 34, 51, 68, 85, 102, 119, 136, 153, 170]]

**Create a list of tuples with a and b such that a is less than b**

In [36]:
list_1 = [13, 72, 27, 83, 89, 54]
list_2 = [25, 37, 35]

new_list = [(a, b) for a in list_1 for b in list_2 if a < b]

print(new_list)

[(13, 25), (13, 37), (13, 35), (27, 37), (27, 35)]

### Conditional list comprehension
New lists can be created by 'list comprehensions' that selectively modify existing squential data types like lists. For this conditional statements can be used.<br>
'Conditional list comprehension' adds only those items to the list that meet the condition (for which the condition is True).

**if statement**                        <img src="condition.png", height="550", width="550">

**if-else statement**                        <img src="ifelse.png", height="550", width="550">

<a id="if_list"> </a>
### 3.3 if satement

**We create an example to print the even numbers from 0 to 11.**

In [37]:
num_list = [i for i in range(11) if i%2==0]
print(num_list)

[0, 2, 4, 6, 8, 10]

**Square the number if its even, else, cube it**

In [38]:
[i**2 if i%2==0 else i**3 for i in [2,3,4,5]]

[4, 27, 16, 125]

<a id="nested_condition"> </a>
### 3.4 nested condition
Nested conditions comprise conditional statements contained within the definition of other conditional statements

**Find all the numbers from a given list divisible by 2 and 3**

In [39]:
numbers = [1, 2, 3, 4, 5, 6, 18, 20]
number_list = [number for number in numbers if number % 2 == 0 if number % 3 == 0]
print(number_list)

[6, 18]

Here, list comprehension checks the number is divisible by 2 and 3. If number satisfies both conditions, number is appended to number_list.

**For all integers from 0 to 20.Check if the number is odd or even**

In [6]:
["Even" if i%2==0 else "Odd" for i in range(21)]

['Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even']

**Make a list of numbers common to both the lists using list comprehension**

In [41]:
list_1 = [102, 232, 233, 344, 456, 564, 234]
list_2 = [102, 233, 324, 564, 567, 523, 456]

common_num = [a for a in list_1 for b in list_2 if a == b]

print(common_num)

[102, 233, 456, 564]