In [2]:
import pandas as pd
import numpy as np

# Series

In [ ]:
mylist = [100,150,200,300]

In [ ]:
ps1 = pd.Series(mylist)

In [ ]:
ps1

In [ ]:
print(type(ps1))

In [ ]:
print(type(ps1.index))

In [ ]:
ps1.values

In [ ]:
print(type(ps1.values))

In [ ]:
ps1.shape

In [ ]:
ps1.ndim

In [ ]:
ps1.size

In [ ]:
ps1.dtype

In [ ]:
mylist = (100,150,200,300)
indexlist = ('Tata','Birla','Adani','Wipro')
ps2 = pd.Series(mylist, index=indexlist)

In [ ]:
ps2

In [ ]:
ps2.index

In [ ]:
print(type(ps2.index))

In [ ]:
md1 = {'Tata':200, 'Birla':400, 'Adani':600, 'Infy':800}

In [ ]:
ps3 = pd.Series(md1)

In [ ]:
ps3

In [ ]:
ps3.index

In [ ]:
ps3.values

In [ ]:
print(type(ps3.index))

In [ ]:
ps1

In [ ]:
ps3

# Series Access

In [ ]:
ps1

In [ ]:
ps3

In [ ]:
ps1[0]

In [ ]:
ps1[0:3]

In [ ]:
ps1[ [1,3,0] ]

In [ ]:
ps1

In [ ]:
ps1[ps1>150]

In [ ]:
ps1>150

In [ ]:
ps1

In [ ]:
ps1[0:2]

In [ ]:
ps1[0::2]

In [ ]:
ps3

In [ ]:
ps3[0]

In [ ]:
ps3['Tata']

In [ ]:
ps3['Tata':'Adani':2]

In [ ]:
ps3[0:2]

In [ ]:
ps3[  ['Adani', 'Birla','Infy'] ]

In [ ]:
ps3

In [ ]:
ps3[(ps3>600) | (ps3<400)]

In [ ]:
(ps3>600) | (ps3<400)

In [ ]:
ps3

In [ ]:
ps3['Tata'] = 2000

In [ ]:
ps3

In [ ]:
ps3['Tata':'Adani'] = 22222

In [ ]:
ps3

In [ ]:
ps3['Tata':'Adani'] = [444,555,666]
ps3

In [ ]:
ps3['HCL'] = 567

In [ ]:
ps3

In [ ]:
ps3['HCL'] = 456

In [ ]:
ps3

In [ ]:
ps3['1010'] = 234

In [ ]:
ps3

In [ ]:
ps3['Tata'] = 'Hello'

In [ ]:
ps3

In [ ]:
ps3.values

In [ ]:
print(type(ps3.values))

In [ ]:
ps3.values.dtype

In [ ]:
md = {'Tata': 200, 'Birla': 300, 'Hero':200, 'Volvo':500, 'Infy':300, 'Wipro':200, 'HCL':100}
ps3 = pd.Series(md)

print(ps3)
print()
print(ps3 [ (ps3>200) & (ps3<500) ])

In [ ]:
md = {'Tata': 200, 'Birla': 300, 'Hero':200, 'Volvo':500, 'Infy':300, 'Wipro':200, 'HCL':100}
ps3 = pd.Series(md)
ps3

In [ ]:
ps3.describe()

In [ ]:
ps3.count()

In [ ]:
ps3.value_counts()

In [ ]:
ps3

In [ ]:
ps3.max()

In [ ]:
ps3.min()

In [ ]:
ps3.median()

In [ ]:
ps3.std()

In [ ]:
ps3.var()

In [ ]:
len(ps3.index)

In [ ]:
ps3

In [ ]:
x = ps3.value_counts()
print(x)
print(type(x))

In [ ]:
x.index

In [ ]:
x.values

In [ ]:
x[200]

In [ ]:
ps3.value_counts()[200]

In [ ]:
ps3.describe()

In [ ]:
ps3

In [ ]:
md = {'Tata': '200', 'Birla': '300', 'Hero':'200', 'Volvo':'500', 'Infy':'300', 'Wipro':'200', 'HCL':'100'}
ps4 = pd.Series(md)

In [ ]:
ps4.describe()

In [ ]:
md1 = {'Tata':100, 'Adani':300, 'Infy':800}               # Pandas using Dictionary
ps3 = pd.Series(md1)
ps3

In [ ]:
ps3.describe()

In [ ]:
ps3.std()

In [ ]:
ps3.var()

In [ ]:
ps3.var() ** 0.5

# Data Frames

         Vol  Exp  Rev
Tata     100  101  102
Birla     103 
Wipro
Infy
Adani

In [ ]:
def giveValue():
    dfvalues = np.arange(200,200+15).reshape(5,3)
    return dfvalues

In [ ]:
row_label_list = ['Tata', 'Birla', 'Wipro', 'Infy', 'Adani']
col_label_list = ['Vol', 'Exp', 'Rev']

In [ ]:
df1 = pd.DataFrame(data=giveValue(), index=row_label_list, columns=col_label_list)
df1

In [ ]:
          roll_num  PDS1  PDS2  PDS3

Sinha      100
Arun       101
Ajai
Akshay

In [ ]:
df1.index

In [ ]:
df1.columns

In [ ]:
df1.values

In [ ]:
df1.ndim

In [ ]:
df1.shape

In [ ]:
df1.describe()

In [ ]:
md1 = {'Vol':[200,201,202,203,204], 'Rev':[300,301,302,303,304], 'Exp':[400,401,402,403,404]}

In [ ]:
df2 = pd.DataFrame(md1, index=row_label_list)
df2

In [ ]:
print(type(df2))

In [ ]:
df2.describe()

In [ ]:
df2.info()

# Df Access

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
df1

In [ ]:
df1.to_csv('local.csv')

In [ ]:
df1.to_excel('local.xls')

In [ ]:
df1.to_html('local.html')

In [ ]:
df1.to_json('local.json')

In [ ]:
dfe = pd.read_excel('local.xls',index_col=0)
dfe

In [ ]:
dfh = pd.read_html('local.html', index_col=0)[0]
print(dfh)
print(type(dfh))

In [ ]:
dfj = pd.read_json('local.json')
dfj

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
df1

In [ ]:
df1

In [ ]:
df1.head(3)

In [ ]:
df1.tail()

In [ ]:
df1.info()

In [ ]:
df1.describe()

In [ ]:
df1.describe(include='all')

In [ ]:
print(type(np.NaN))

# df Access

In [ ]:
#Direct Access
# iloc based Access  #integer location based access
# loc based Access   # label based access

Direct Access

In [ ]:
df1

In [ ]:
c = df1['HQ']
print(c)
print(type(c))

In [ ]:
c.value_counts()

In [ ]:
df1['HQ'].value_counts()

In [ ]:
x = df1['Catg'].value_counts()
print(x)
print(type(x))

In [ ]:
df1

In [ ]:
df1['Bombay_Sporting']

In [ ]:
df1

In [ ]:
x = df1[   ['Vol', 'HQ', 'Catg']]
print(x)
print(type(x))

In [ ]:
df1

In [ ]:
df1['Bombay_Sporting':'Bangalore_Breweries']

In [ ]:
df1['Kolkata_FMCG':'Kolkata_FMCG']

In [ ]:
df1['Bangalore_Breweries':'Kolkata_FMCG':-1]

#  Direct Indexing Access Grammer
#df1[<col_label>]
#df1[  [Vector of col labels] ]
###df1[row_index_start : row_index_end]

In [ ]:
df1

In [ ]:
df1['Rev']

In [ ]:
df1.Rev

In [ ]:
dir(df1)

In [ ]:
df1

In [ ]:
df1['Kolkata_FMCG':'Kolkata_FMCG']['Catg'].values[0]

# iLOC based Access

In [ ]:
df1

In [ ]:
df1.iloc[0]

In [ ]:
df1.iloc[0,0]

In [ ]:
df1.iloc[-1,-1]

In [ ]:
df1.index

In [ ]:
df1.columns

In [ ]:
print(type(df1.iloc))

In [ ]:
df1

In [ ]:
df1.iloc[0:3]

In [ ]:
x = df1.iloc[3:6, 2:5]
print(x)
print(type(x))

In [ ]:
df1

In [ ]:
x = df1.iloc[3:4, 3:5]
print(x)
print(type(x))

In [ ]:
df1.iloc[3:5]

In [ ]:
df1

In [ ]:
df1.iloc[ [0,-1,2,3] ]

In [ ]:
df1.iloc[ [0,-1,2,3],  [0,-1,-2] ]

# iloc Grammer

# df1.iloc[row_n_index, col_n_index]
# df1.iloc[  row_n_slice,   col_n_slice]
# df1.iloc[ [row_n_vector],  [col_n_vector]]
# combo of all of them

In [ ]:
df1

In [ ]:
r_mask = df1['Vol'] > 931
print(r_mask)

In [ ]:
df1[r_mask]

In [ ]:
df1[df1.Vol>931]

In [ ]:
df1[df1.Catg=='Pub']

In [ ]:
df1

In [ ]:
df1[df1.Catg=='Pub']

In [ ]:
df1[(df1.Catg=='Pub') & (df1.Vol > 940)]

In [ ]:
df1.Catg.str.upper()

# LOC Based Access

In [ ]:
df1

In [ ]:
df1.loc['Bombay_Finance']

In [ ]:
df1.loc['Bombay_Finance','Catg']

In [ ]:
df1.loc['NCR_Leagles': 'Bangalore_Breweries']

In [ ]:
df1.loc['NCR_Leagles': 'Bangalore_Breweries',  'Rev': 'EmpCnt']

In [ ]:
df1

In [ ]:
df1.loc[  ['NCR_Leagles', 'Indi_Services', 'Bangalore_Breweries']  ]

In [ ]:
df1.loc[  ['NCR_Leagles', 'Indi_Services', 'Bangalore_Breweries'] ,  ['EmpCnt','Rev','HQ', 'Catg'] ]

In [ ]:
# loc Grammer

# df1.iloc[row_l_index, col_l_index]
# df1.iloc[  row_l_slice,   col_l_slice]
# df1.iloc[ [row_l_vector],  [col_l_vector]]
# combo of all of them

In [ ]:
df1

In [ ]:
df1.loc['Bombay_Finance': 'Chennai_Shipping',  'Vol': 'Catg']

In [ ]:
df1.columns

In [ ]:
df1.columns[2]

In [ ]:
df1.loc[:, df1.columns[2]]

In [ ]:
df1.columns

In [ ]:
df1.columns.get_loc('Exp')

# Sorting

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
df1

In [ ]:
df1.sort_index()

In [ ]:
df2 = df1.sort_index(axis=1, inplace=True, ascending=False)
print(df2)
print()
print(df1)

In [ ]:
df1

In [ ]:
df1.sort_values(by='Vol',ascending=False)

In [ ]:
df1.sort_values(by=['Vol','Rev'],ascending=[False,True], inplace=True, axis=0)

In [ ]:
df1

In [ ]:
df1.sort_values(by='Bangalore_Breweries',ascending=True,axis=1)

In [ ]:
1 > 'hello'

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
print(df1)
df2 = df1.sort_index(axis=1)
print(df2)

In [ ]:
df1.describe(include='all')

In [ ]:
df1.Catg.value_counts()

In [ ]:
df1.HQ.value_counts()

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
print(df1)

# 13/Dec/2020

# Ranking

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
print(df1)

In [ ]:
df1.Vol.rank(ascending=False, method='average')

In [ ]:
df1['VolRank']=df1.Vol.rank(ascending=False, method='dense')

In [ ]:
df1['ExpRank']=df1.Exp.rank(ascending=True, method='first')

In [ ]:
df1.sort_values(by='ExpRank')

In [ ]:
df1.rank(axis=0)

In [ ]:
df1['VolRev'] = df1.Vol * df1.Rev

In [ ]:
df1

# Concatenation

In [ ]:
df11 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds11.csv')
print(df11)

df12 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds12.csv')
print(df12)

In [ ]:
dfc = pd.concat(objs=(df11,df12), axis=0, join='outer')
dfc

In [ ]:
dfc.info()

In [ ]:
dfc = pd.concat(objs=(df11,df12), axis=0, join='outer')
print(dfc)
pd.unique(dfc.index)

In [ ]:
dfc.drop_duplicates()

In [ ]:
pd.merge(df11, df12,how='outer')

In [ ]:
dfc = pd.concat(objs=(df11,df12), axis=1, join='outer')
dfc

In [ ]:
dfc = pd.concat(objs=(df11,df12), axis=1, join='inner')
dfc

In [ ]:
dfc = pd.concat(objs=(df11,df12), axis=0, join='outer', keys=['d11','d12'])
dfc

In [ ]:
dfc.index

In [ ]:
dfc.columns

In [ ]:
dfc.loc[('d11',     'Bombay_Sporting'), 'Vol']

In [ ]:
dfc.loc[('d12',     'Bombay_Sporting'), 'Vol']

In [ ]:
dfc.loc['d11', 'Vol']

In [ ]:
dfc = pd.concat(objs=(df11,df12), axis=1, join='outer', keys=['d11','d12'])
dfc

In [ ]:
dfc.loc['Bombay_Sporting',  ('d12','Expn')]

In [ ]:
dfc.loc['Bombay_Sporting',  'd12']

In [ ]:
dfc.columns

In [ ]:
dfc.index

In [ ]:
dfc.shape

# Merge-- SQL Style

In [3]:
df21 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds21.csv')
print(df21)

df22 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds22.csv')
print(df22)

df23 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds23.csv')
print(df23)

                company stock_name  high  low
0        infi_systems13       INFS  1200    600
1  kernel_associates123       KRAS  1100    800
2      porto_shipping23       POSH  1200    300
3     appo_automobiles3       APTP  2000    800
                company  vol  rev  exp stock_ticker   HQ
0  kernel_associates123  350  450  550         KRAS  Mum
1      vv_automobiles12  450  550  500         VVAU  Blr
2      porto_shipping23  550  650  700         POSH  Che
3          time_makers2  400  300  200         HMTW  Kol
4        charmi_studios  500  250  150         CSTD  HYD
                company   HQ Catg  empcnt
0        infi_systems13  Blr  Pub   20000
1      tree_consulting1  NCR  Pub   10000
2  kernel_associates123  Mum  Pvt    5000
3      vv_automobiles12  Blr  Pvt   30000

In [4]:
pd.merge(left=df21, right=df22,how='inner', on='company')

,company,stock_name,high,low,vol,rev,exp,stock_ticker,HQ
0,kernel_associates123,KRAS,1100,800,350,450,550,KRAS,Mum
1,porto_shipping23,POSH,1200,300,550,650,700,POSH,Che

In [ ]:
pd.merge(left=df21, right=df22,how='outer', on='company')

In [ ]:
pd.merge(left=df21, right=df22,how='left', on='company')

In [ ]:
pd.merge(left=df21, right=df22,how='right', on='company')

In [ ]:
pd.merge(df21,df22, how='outer',left_on='stock_name', right_on='stock_ticker')

In [ ]:
pd.merge(df21,df22, how='inner',left_on='stock_name', right_on='stock_ticker', suffixes=['_left', '_right'])

In [ ]:
pd.merge(df22,df23, how='inner', on=['company','HQ'])

pd.merge(left=df21,right=df22,how="inner", left_on = ['stock_name','company'], right_on = ['stock_ticker','company'], suffixes = ['_left','_right'])

In [ ]:
pd.merge(df22,df23, how='inner', on='HQ')  # 1 to many example.. cross join...

In [ ]:
df22

In [ ]:
df23

# Pivot Table

In [5]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
print(df1)

                     Vol    Rev  Exp Catg  EmpCnt   HQ
Kolkata_FMCG         900  874.4  676  Pub    1379  Kol
NCR_Leagles          931  863.5  605  Pub    1935  NCR
Bombay_Sporting      925  839.8  615  Pvt     154  Mum
Bombay_Finance       899  917.0  674  Pub    1443  Mum
Bangalore_Systems    931  881.6  650  Gov    1361  Blr
Chennai_Shipping     992  821.0  665  Pub    1154  Che
Bangalore_Breweries  966  805.0  895  Pvt     119  Blr
Chennai_Chemicals    966  863.2  608  Pub    1656  Che
Indi_Services        954  733.0  609  Gov   13023  NCR

In [ ]:
df2 = pd.pivot_table(df1, index='Catg', aggfunc='mean')
df2

In [ ]:
df2 = pd.pivot_table(df1, index='Catg', aggfunc='max')
df2

In [ ]:
df2 = pd.pivot_table(df1, index='Catg', aggfunc=np.min)
df2

In [ ]:
df2 = pd.pivot_table(df1, index='Catg', aggfunc=[np.min,np.max, np.mean])
df2

In [ ]:
df2 = pd.pivot_table(df1, index='Catg', values=['Exp','Rev'], aggfunc=np.min)
df2

In [ ]:
df2 = pd.pivot_table(df1, index='Catg', values=['Exp','Rev'], aggfunc=[np.min,np.max, np.mean])
df2

In [ ]:
df2 = pd.pivot_table(df1, index='Catg', columns=['HQ'],values=['Exp','Rev'], aggfunc=[np.min,np.max])
df2

In [ ]:
df2 = pd.pivot_table(df1, index='Catg', columns=['HQ'],values=['Exp','Rev'], aggfunc=[np.min,np.max, np.mean])
print(df2)
print(df2.columns)

In [ ]:
df2 = pd.pivot_table(df1, index='Catg', values='Vol', aggfunc=[np.min,np.max, lambda c:c.max()-c.min()])
df2

In [ ]:
def cdiff(c):
    return c.max()-c.min()

In [ ]:
df2 = pd.pivot_table(df1, index='Catg', values='Vol', aggfunc=[np.min,np.max, cdiff])
df2

In [ ]:
type(df2)

In [ ]:
df2.index

In [ ]:
df1.EmpCnt.mean()

In [ ]:
df1.loc[df1.Catg=='Pub', 'EmpCnt'].mean()

# Groupby

In [ ]:
#split, apply, combine

In [6]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
print(df1)

                     Vol    Rev  Exp Catg  EmpCnt   HQ
Kolkata_FMCG         900  874.4  676  Pub    1379  Kol
NCR_Leagles          931  863.5  605  Pub    1935  NCR
Bombay_Sporting      925  839.8  615  Pvt     154  Mum
Bombay_Finance       899  917.0  674  Pub    1443  Mum
Bangalore_Systems    931  881.6  650  Gov    1361  Blr
Chennai_Shipping     992  821.0  665  Pub    1154  Che
Bangalore_Breweries  966  805.0  895  Pvt     119  Blr
Chennai_Chemicals    966  863.2  608  Pub    1656  Che
Indi_Services        954  733.0  609  Gov   13023  NCR

In [7]:
dfg = df1.groupby(by='Catg')

In [8]:
print(dfg)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f93586d5b80>

In [ ]:
print(type(dfg))

In [ ]:
dfg.groups

In [9]:
x = dfg.get_group('Gov')
print(x)
print(type(x))

                   Vol    Rev  Exp Catg  EmpCnt   HQ
Bangalore_Systems  931  881.6  650  Gov    1361  Blr
Indi_Services      954  733.0  609  Gov   13023  NCR
<class 'pandas.core.frame.DataFrame'>

In [ ]:
dfglist = list(dfg)
print(dfglist)

In [ ]:
for item in dfglist:
    #print(item)
    print(type(item))
    for element in item:
        print(type(element))
        print(element)
    print()

In [ ]:
dfg = df1.groupby(by='Catg')

In [ ]:
dfg.Vol.count()

In [ ]:
dfg.Vol.max()

In [ ]:
df1.groupby(by='Catg')['Vol'].max()

In [ ]:
df1.groupby(by='Catg')['Vol'].mean()

In [ ]:
df1.groupby(by='Catg')['Vol'].mean()

In [ ]:
df1.groupby(by='Catg').mean()['Vol']

In [10]:
df2 = df1.groupby(by=['Catg','HQ'])['Vol'].mean()
df2

Catg  HQ
Gov   Blr    931
      NCR    954
Pub   Che    979
      Kol    900
      Mum    899
      NCR    931
Pvt   Blr    966
      Mum    925
Name: Vol, dtype: int64

In [ ]:
df2.index

In [ ]:
type(df2)

In [ ]:
df2 = df1.groupby(by=['Catg','HQ']).mean()
df2

In [ ]:
df2 = df1.groupby(by=['Catg']).agg(['min','max'])
df2

In [ ]:
df1.agg()

In [ ]:
df2 = df1.groupby(by=['Catg']).agg(['min','max', lambda c: c.max()-c.min()])
df2

In [ ]:
mxmn = lambda c: c.max()-c.min()
mxmn.__name__ = 'hello'


df2 = df1.groupby(by=['Catg']).agg(['min',np.max, mxmn])
df2

In [ ]:
np.max.__name__

In [ ]:
df1[df1["Catg"]=="Gov"]

In [ ]:
mask = df1["Catg"]=="Gov"
print(mask)

In [ ]:
df1[mask]

In [ ]:
df1

In [ ]:
mylist = [True,False,True] * 3
print(mylist)
df1[mylist]

# Stack,Unstack

        2018      2018    2018  2018  2019      2019    2019  2019
         q1        q1     q2     q2   q1        q1     q2     q2
         fmcg      tech   f      t    fmcg      tech   f      t
Tata
Birla
Wipro
ITC

In [ ]:
n48 = np.random.randint(10,100,size=(4,8))
print(n48)

In [ ]:
indexlist = ['Tata', 'Birla', 'Wipro', 'ITC']

In [ ]:
print(indexlist)

In [ ]:
level0_col_labels = [2018,2019]
level1_col_labels = ['Q1','Q2']
level2_col_labels = ['FMCG','Tech']

In [ ]:
clist = pd.MultiIndex.from_product([level0_col_labels,level1_col_labels,level2_col_labels])

In [ ]:
print(clist)

In [ ]:
df1 = pd.DataFrame(n48, index=indexlist, columns=clist)
df1

In [ ]:
df1

In [ ]:
df2 = df1.stack(1)
df2

In [ ]:
df2.index

In [ ]:
df2.columns

In [ ]:
df2

In [ ]:
df2.loc[('Birla','Q2')  , (2019,'FMCG') ]

In [ ]:
df2

In [ ]:
df2.unstack()

In [ ]:
df3 = df2.stack(0)
df3

In [ ]:
df3.unstack(0)

# Map

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
print(df1)

In [ ]:
c2z = {'Mum':'WZ', 'Kol':'EZ', 'Blr':'SZ', 'Che':'SZ', 'NCR':'NZ'}

In [ ]:
df1['Zone'] = df1['HQ'].map(c2z)

In [ ]:
df1

In [ ]:
def salesclassifier(sale_value):
    if sale_value > 950:
        return 'Excellent_Sales'
    elif sale_value < 930:
        return 'Average_Sales'
    else:
        return 'Good_Sales'

In [ ]:
df1['Vol_Class'] = df1['Vol'].map(salesclassifier)
df1

# Drops

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
print(df1)

In [ ]:
df1.drop('Rev', axis=1)

In [ ]:
df1

In [ ]:
df1.drop('NCR_Leagles', axis=0)

In [ ]:
df1

In [ ]:
df1.drop(index=['Bangalore_Systems', 'Bangalore_Breweries'], columns=['Exp','Catg'])

# NaN Handling

In [263]:
df0 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds0.csv')

In [ ]:
df0.info()

In [264]:
df0

                     Vol    Rev  Exp Catg   EmpCnt   HQ
Bombay_Finance       899  917.0  674  Pub   1443.0  Mum
Bombay_Sporting      925  839.8  615  Pvt    154.0  Mum
Kolkata_FMCG         900    NaN  676  Pub      NaN  Kol
NCR_Leagles          931  863.5  605  Pub   1935.0  NCR
Chennai_Shipping     992  821.0  665  Pub   1154.0  Che
Bangalore_Systems    931    NaN  650  Gov   1361.0  Blr
Bangalore_Breweries  966  805.0  895  NaN    119.0  Blr
Chennai_Chemicals    966  863.2  608  Pub   1656.0  Che
Indi_Services        954  733.0  609  Gov  13023.0  NCR

In [ ]:
df0.dropna()

In [ ]:
df0

In [ ]:
df0.fillna('hello')

In [ ]:
df0

In [ ]:
df0.Rev.mean()

In [ ]:
df0.Rev.fillna(100)

In [ ]:
df0

In [ ]:
df0.Rev.fillna(df0.Rev.mean(), inplace=True)

In [ ]:
df0

In [ ]:
df0.EmpCnt.mean()

In [ ]:
df0.EmpCnt.median()

In [ ]:
df0.EmpCnt.fillna(df0.EmpCnt.median(), inplace=True)

In [ ]:
df0

In [ ]:
df0.EmpCnt[:-1].mean()

In [ ]:
df0.loc['Kolkata_FMCG':'Chennai_Shipping', 'Catg'] = np.NaN

In [ ]:
df0

In [ ]:
df0.Catg.fillna(method='ffill')

In [ ]:
df0.Catg.fillna(method='bfill')

# Melting

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/temp246_a.csv')
print(df1)

In [ ]:
pd.melt(df1, id_vars = ['Location', 'Temperature'])

In [ ]:
pd.melt(df1, id_vars = ['Location', 'Temperature'], var_name='melted_col_names')

In [ ]:
pd.melt(df1, id_vars = ['Location', 'Temperature'], var_name='melted_col_names', value_name='melted_col_values')

# Replace

In [266]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
print(df1)

                     Vol    Rev  Exp Catg  EmpCnt   HQ
Bombay_Finance       899  917.0  674  Pub    1443  Mum
Bombay_Sporting      925  839.8  615  Pvt     154  Mum
Kolkata_FMCG         900  874.4  676  Pub    1379  Kol
NCR_Leagles          931  863.5  605  Pub    1935  NCR
Chennai_Shipping     992  821.0  665  Pub    1154  Che
Bangalore_Systems    931  881.6  650  Gov    1361  Blr
Bangalore_Breweries  966  805.0  895  Pvt     119  Blr
Chennai_Chemicals    966  863.2  608  Pub    1656  Che
Indi_Services        954  733.0  609  Gov   13023  NCR

In [268]:
df1['Catg'].replace('Pub', 'Public', inplace=True)
df1

                     Vol    Rev  Exp    Catg  EmpCnt   HQ
Bombay_Finance       899  917.0  674  Public    1443  Mum
Bombay_Sporting      925  839.8  615     Pvt     154  Mum
Kolkata_FMCG         900  874.4  676  Public    1379  Kol
NCR_Leagles          931  863.5  605  Public    1935  NCR
Chennai_Shipping     992  821.0  665  Public    1154  Che
Bangalore_Systems    931  881.6  650     Gov    1361  Blr
Bangalore_Breweries  966  805.0  895     Pvt     119  Blr
Chennai_Chemicals    966  863.2  608  Public    1656  Che
Indi_Services        954  733.0  609     Gov   13023  NCR

In [269]:
df1['HQ'].replace(c2z,inplace=True)
df1

                     Vol    Rev  Exp    Catg  EmpCnt  HQ
Bombay_Finance       899  917.0  674  Public    1443  WZ
Bombay_Sporting      925  839.8  615     Pvt     154  WZ
Kolkata_FMCG         900  874.4  676  Public    1379  EZ
NCR_Leagles          931  863.5  605  Public    1935  NZ
Chennai_Shipping     992  821.0  665  Public    1154  SZ
Bangalore_Systems    931  881.6  650     Gov    1361  SZ
Bangalore_Breweries  966  805.0  895     Pvt     119  SZ
Chennai_Chemicals    966  863.2  608  Public    1656  SZ
Indi_Services        954  733.0  609     Gov   13023  NZ

# Rename

In [270]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
print(df1)

                     Vol    Rev  Exp Catg  EmpCnt   HQ
Bombay_Finance       899  917.0  674  Pub    1443  Mum
Bombay_Sporting      925  839.8  615  Pvt     154  Mum
Kolkata_FMCG         900  874.4  676  Pub    1379  Kol
NCR_Leagles          931  863.5  605  Pub    1935  NCR
Chennai_Shipping     992  821.0  665  Pub    1154  Che
Bangalore_Systems    931  881.6  650  Gov    1361  Blr
Bangalore_Breweries  966  805.0  895  Pvt     119  Blr
Chennai_Chemicals    966  863.2  608  Pub    1656  Che
Indi_Services        954  733.0  609  Gov   13023  NCR

In [272]:
df1.rename(columns={'Vol':'Volume'}, index={'Indi_Services': 'Indian_Railways'})

                     Volume    Rev  Exp Catg  EmpCnt   HQ
Bombay_Finance          899  917.0  674  Pub    1443  Mum
Bombay_Sporting         925  839.8  615  Pvt     154  Mum
Kolkata_FMCG            900  874.4  676  Pub    1379  Kol
NCR_Leagles             931  863.5  605  Pub    1935  NCR
Chennai_Shipping        992  821.0  665  Pub    1154  Che
Bangalore_Systems       931  881.6  650  Gov    1361  Blr
Bangalore_Breweries     966  805.0  895  Pvt     119  Blr
Chennai_Chemicals       966  863.2  608  Pub    1656  Che
Indian_Railways         954  733.0  609  Gov   13023  NCR

# Duplicate Handling

In [273]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/hum357_a.csv')
print(df1)

        Date    City  Temperature  Humidity
0  15/1/2019  Shimla           11        67
1  15/2/2019  Shimla           12        65
2  15/3/2019  Shimla           16        57
3  15/1/2019  Shimla           11        67
4  15/1/2019    Pune           29        34
5  15/2/2019    Pune           32        26
6  15/1/2020    Pune           29        21
7  15/1/2019  Mysore           28        49
8  15/2/2019  Mysore           31        47
9  15/1/2020  Mysore           33        49

In [274]:
df1.duplicated()

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [275]:
df1[df1.duplicated()]

        Date    City  Temperature  Humidity
3  15/1/2019  Shimla           11        67

In [277]:
df1.duplicated(subset=['Date'])

0    False
1    False
2    False
3     True
4     True
5     True
6    False
7     True
8     True
9     True
dtype: bool

In [279]:
df1.duplicated(subset=['Date', 'City'], keep='first')

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [280]:
df1.duplicated(subset=['Date', 'City'], keep='last')

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [281]:
df1.drop_duplicates()

        Date    City  Temperature  Humidity
0  15/1/2019  Shimla           11        67
1  15/2/2019  Shimla           12        65
2  15/3/2019  Shimla           16        57
4  15/1/2019    Pune           29        34
5  15/2/2019    Pune           32        26
6  15/1/2020    Pune           29        21
7  15/1/2019  Mysore           28        49
8  15/2/2019  Mysore           31        47
9  15/1/2020  Mysore           33        49

In [283]:
df1.drop_duplicates(subset=['Date'])

        Date    City  Temperature  Humidity
0  15/1/2019  Shimla           11        67
1  15/2/2019  Shimla           12        65
2  15/3/2019  Shimla           16        57
6  15/1/2020    Pune           29        21

In [286]:
df1.drop_duplicates(subset=['City'], keep='first')

        Date    City  Temperature  Humidity
0  15/1/2019  Shimla           11        67
4  15/1/2019    Pune           29        34
7  15/1/2019  Mysore           28        49

In [287]:
df1.drop_duplicates(subset=['City'], keep='last')

        Date    City  Temperature  Humidity
3  15/1/2019  Shimla           11        67
6  15/1/2020    Pune           29        21
9  15/1/2020  Mysore           33        49

# Skew , Kurtoises

In [288]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
print(df1)

                     Vol    Rev  Exp Catg  EmpCnt   HQ
Bombay_Finance       899  917.0  674  Pub    1443  Mum
Bombay_Sporting      925  839.8  615  Pvt     154  Mum
Kolkata_FMCG         900  874.4  676  Pub    1379  Kol
NCR_Leagles          931  863.5  605  Pub    1935  NCR
Chennai_Shipping     992  821.0  665  Pub    1154  Che
Bangalore_Systems    931  881.6  650  Gov    1361  Blr
Bangalore_Breweries  966  805.0  895  Pvt     119  Blr
Chennai_Chemicals    966  863.2  608  Pub    1656  Che
Indi_Services        954  733.0  609  Gov   13023  NCR

In [289]:
df1.skew()

Vol       0.155824
Rev      -1.027983
Exp       2.413427
EmpCnt    2.857354
dtype: float64

In [291]:
df1.kurt()

Vol      -0.839148
Rev       1.593378
Exp       6.427762
EmpCnt    8.394832
dtype: float64

In [294]:
df1.Rev.skew()

-1.0279828673607518

In [295]:
print(df1.Rev.skew())
print(df1.Rev.mean())
print(df1.Rev.median())

-1.0279828673607518
844.2777777777778
863.2

In [298]:
print(df1.Vol.skew())
print(df1.Vol.mean())
print(df1.Vol.median())

0.15582379564051124
940.4444444444445
931.0

In [302]:
df1.Vol.kurt()

-0.8391481445185045

In [303]:
print(df1.Vol.kurt())
print(df1.Vol.mean())
print(df1.Vol.median())

-0.8391481445185045
940.4444444444445
931.0

In [304]:
print(df1.Rev.kurt())
print(df1.Rev.mean())
print(df1.Rev.median())

1.5933779931987493
844.2777777777778
863.2