In [3]:
print('Hello world2')

Hello world2

In [4]:
print('hello world ")

SyntaxError: EOL while scanning string literal (<ipython-input-4-f3eacb40ccce>, line 1)

In [6]:
ns = "hello world of python today "

In [7]:
ns

'hello world of python today '

In [8]:
ns = '''
hello world
of python
help today
'''

In [10]:
print(ns)

hello world
of python
help today

In [11]:
ns = """
hello
python
today

"""

In [12]:
print(ns)

hello
python
today

In [13]:
ns = ''' 
hello world 
of python help me today
'''

In [15]:
print(ns)

hello world
of python help me today

In [17]:
ns

' \nhello world \nof python help me today\n'

In [18]:
''' 
hello world 
of python help me today
'''

' \nhello world \nof python help me today\n'

In [20]:
a = 10
b = 20
print(a)
print(b)

10
20

In [21]:
10

10

In [22]:
10

10

In [23]:
10+20

30

In [24]:
a = 10
b = 10
''' 
hello world 
of python help me today
'''
a+b

20

In [25]:
if = 20

SyntaxError: invalid syntax (<ipython-input-25-b8359eb0a5c6>, line 1)

In [26]:
if_20 = 20

In [27]:
ex$var = 40

SyntaxError: invalid syntax (<ipython-input-27-f12bf005d95c>, line 1)

In [28]:
ex_var = 40

In [29]:
ex9var = 35

In [53]:
a = 20
a = 'hello'
print(a)
b = 30
#91var = 43

hello

In [38]:
var91 = 43

In [39]:
print(a)

hello

In [41]:
help('if')

The "if" statement
******************

The "if" statement is used for conditional execution:

   if_stmt ::= "if" assignment_expression ":" suite
               ("elif" assignment_expression ":" suite)*
               ["else" ":" suite]

It selects exactly one of the suites by evaluating the expressions one
by one until one is found to be true (see section Boolean operations
for the definition of true and false); then that suite is executed
(and no other part of the "if" statement is executed or evaluated).
If all expressions are false, the suite of the "else" clause, if
present, is executed.

Related help topics: TRUTHVALUE

In [42]:
print('hello')

hello

In [43]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [45]:
help(SyntaxError)

Help on class SyntaxError in module builtins:

class SyntaxError(Exception)
 |  Invalid syntax.
 |
 |  Method resolution order:
 |      SyntaxError
 |      Exception
 |      BaseException
 |      object
 |
 |  Built-in subclasses:
 |      IndentationError
 |
 |  Methods defined here:
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  filename
 |      exception filename
 |
 |  lineno
 |      exception lineno
 |
 |  msg
 |      exception msg
 |
 |  offset
 |      exception offset
 |
 |  print_file_and_line
 |      exception print_file_and_line
 |
 |  text
 |      exception text
 |
 |  ----------------------------------------------------------------------
 |  Static methods inherited from Exception:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from BaseException:
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  __setstate__(...)
 |
 |  with_traceback(...)
 |      Exception.with_traceback(tb) --
 |      set self.__traceback__ to tb and return self.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from BaseException:
 |
 |  __cause__
 |      exception cause
 |
 |  __context__
 |      exception context
 |
 |  __dict__
 |
 |  __suppress_context__
 |
 |  __traceback__
 |
 |  args

In [47]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [48]:
print = 20

In [49]:
print(print)

TypeError: 'int' object is not callable

In [50]:
del print

In [51]:
print(20)

20

In [54]:
print(type(20))

<class 'int'>

In [55]:
print(type('hello'))

<class 'str'>

In [56]:
a = 20

In [57]:
print(type(a))

<class 'int'>

In [58]:
a = 'hello'

In [59]:
print(type(a))

<class 'str'>

In [60]:
a = 20
b = 20

In [61]:
id(20)

8791201364352

In [62]:
id(a)

8791201364352

In [63]:
id(b)

8791201364352

In [76]:
a = 2000
b = 2000

In [65]:
id(a)

81054576

In [66]:
id(b)

81054352

In [67]:
# -5  to  256

In [68]:
id(20)

8791201364352

In [69]:
a

2000

In [70]:
b

2000

In [71]:
z = 20

In [72]:
id(z)

8791201364352

In [73]:
a

2000

In [74]:
a = 20

In [75]:
id(a)

8791201364352

In [ ]:
print("hello")

# 08/Nov/2020.

Indentation

In [11]:
temp = 21
temp1 = 20
if temp1 == 20:
    if temp == 20:
        print(temp)
        print('if if')
    else:
        print(temp)
        print('if else')
else:
    if temp == 20:
        print(temp)
        print('else if')
    else:
        print(temp)
        print('else else')

21
if else

In [12]:
20 > 15

True

In [13]:
20 > 'abc'

TypeError: '>' not supported between instances of 'int' and 'str'

In [15]:
a = 20 + 20.2
print(a)
print(type(a))

40.2
<class 'float'>

In [17]:
a = 20
b = 21
c = a + b
print(type(c))

<class 'int'>

In [18]:
ns = 'hello world'

In [19]:
print(type(ns))

<class 'str'>

In [20]:
ns[0]

'h'

In [21]:
len(ns)

11

In [22]:
print(type('f'))

<class 'str'>

In [23]:
print(type(ns[0]))

<class 'str'>

In [24]:
mylist = [2,4,6,8,10]

In [25]:
print(mylist)

[2, 4, 6, 8, 10]

In [26]:
print(type(mylist))

<class 'list'>

In [27]:
print(type(mylist[0]))

<class 'int'>

In [28]:
mylist1 = [22,33,44,'hello', 'python', 45.67, [11,66,77,'world']]

In [29]:
len(mylist1)

7

In [30]:
mylist1[0]

22

In [31]:
mylist1[6]

[11, 66, 77, 'world']

In [36]:
print(mylist1[6][0])
print(type(mylist1[6][0]))

11
<class 'int'>

In [40]:
print(len(mylist1[6][3]))

5

In [41]:
mylist2 = [1111,2222,3333,4444]

In [42]:
mylist2.append(5555)

In [43]:
mylist2

[1111, 2222, 3333, 4444, 5555]

In [44]:
mylist2

[1111, 2222, 3333, 4444, 5555]

In [45]:
mylist2[1]

2222

In [46]:
mylist2[1] = 'hello'

In [47]:
mylist2

[1111, 'hello', 3333, 4444, 5555]

In [48]:
ms

NameError: name 'ms' is not defined

In [49]:
ms1

NameError: name 'ms1' is not defined

In [50]:
ns

'hello world'

In [51]:
ns[0]

'h'

In [52]:
ns[0] = 'j'

TypeError: 'str' object does not support item assignment

In [53]:
#Strings are non-mutable  or immutable in python

In [54]:
#list are mutable,  tuples are immutable

In [55]:
mylist2

[1111, 'hello', 3333, 4444, 5555]

In [56]:
mt1 = (1,2,3,4,5)

In [57]:
mt1

(1, 2, 3, 4, 5)

In [58]:
type(mt1)

tuple

In [59]:
print(type(mt1))

<class 'tuple'>

In [60]:
mt1[0] = 'hello'

TypeError: 'tuple' object does not support item assignment

In [61]:
mt1

(1, 2, 3, 4, 5)

In [62]:
mt1[0]

1

In [63]:
mt1[3]

4

In [64]:
mt1[0] = 5

TypeError: 'tuple' object does not support item assignment

In [65]:
ms1 = 'python'

In [66]:
id(ms1)

49111408

In [67]:
id('python')

49111408

In [68]:
ns1 = ms1[::-1]

In [69]:
ns1

'nohtyp'

In [70]:
id(ns1)

82621232

In [71]:
ms1 = ms1[::-1]

In [72]:
ms1

'nohtyp'

In [73]:
id(ms1)

116353392

In [74]:
mylist1

[22, 33, 44, 'hello', 'python', 45.67, [11, 66, 77, 'world']]

In [75]:
id(mylist1)

82900352

In [76]:
mylist1.append(232323)

In [77]:
mylist1

[22, 33, 44, 'hello', 'python', 45.67, [11, 66, 77, 'world'], 232323]

In [78]:
id(mylist1)

82900352

In [79]:
mt

NameError: name 'mt' is not defined

In [80]:
mt1

(1, 2, 3, 4, 5)

In [81]:
mt1 = (2,3,4,[11,22,33])

In [82]:
mt1[0] = 22

TypeError: 'tuple' object does not support item assignment

In [83]:
mt1[3] = 34

TypeError: 'tuple' object does not support item assignment

In [85]:
x = mt1[3]

In [86]:
x

[11, 22, 33]

In [87]:
type(x)

list

In [88]:
a = 20
b = 20
c = 20

In [89]:
a = 40

In [90]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [91]:
ms

NameError: name 'ms' is not defined

In [92]:
ns

'hello world'

In [93]:
ns[:3]

'hel'

In [94]:
#Slicing

In [95]:
ns = input('Enter your name: ')

Enter your name: python

In [96]:
print(ns)

python

In [97]:
print(type(ns))

<class 'str'>

In [101]:
age  = input('Enter your age: ')
print(age)
print(type(age))

Enter your age: 23
23
<class 'str'>

In [102]:
age[0]

'2'

In [103]:
age[1]

'3'

In [104]:
age+4

TypeError: can only concatenate str (not "int") to str

In [105]:
age

'23'

In [106]:
a = int(age)

In [107]:
a

23

In [108]:
print(type(a))

<class 'int'>

In [109]:
a + 4

27

In [110]:
age = int(input('enter age '))
print(age)
print(type(age))

enter age 22
22
<class 'int'>

In [112]:
bb = float(input('enter balance'))
print(bb)
print(type(bb))

enter balance23.45
23.45
<class 'float'>

In [113]:
ms = input('enter multi line string')
print(ms)
print(type(ms))

enter multi line stringhello \n python \n world
hello \n python \n world
<class 'str'>

In [114]:
print(ms)

hello \n python \n world

In [115]:
ms = input ('enter matrix')

enter matrix1,2,3 4,5,6  7,8,9 10,11,12

In [116]:
ms

'1,2,3 4,5,6  7,8,9 10,11,12'

In [117]:
mylist = ms.split()

In [118]:
mylist

['1,2,3', '4,5,6', '7,8,9', '10,11,12']

In [119]:
mylist[0]

'1,2,3'

In [120]:
15/4

3.75

In [121]:
15//4

3

In [122]:
15%3

0

In [123]:
15%4

3

In [124]:
a = 20
b = 20

In [128]:
if a >= b:
    print('they are equal')

they are equal

In [129]:
a == b

True

In [131]:
'hello'  == 'Hello'

False

In [132]:
help('+')

Operator precedence
*******************

The following table summarizes the operator precedence in Python, from
lowest precedence (least binding) to highest precedence (most
binding).  Operators in the same box have the same precedence.  Unless
the syntax is explicitly given, operators are binary.  Operators in
the same box group left to right (except for exponentiation, which
groups from right to left).

Note that comparisons, membership tests, and identity tests, all have
the same precedence and have a left-to-right chaining feature as
described in the Comparisons section.

+-------------------------------------------------+---------------------------------------+
| Operator                                        | Description                           |
|=================================================|=======================================|
| ":="                                            | Assignment expression                 |
+-------------------------------------------------+---------------------------------------+
| "lambda"                                        | Lambda expression                     |
+-------------------------------------------------+---------------------------------------+
| "if"  "else"                                   | Conditional expression                |
+-------------------------------------------------+---------------------------------------+
| "or"                                            | Boolean OR                            |
+-------------------------------------------------+---------------------------------------+
| "and"                                           | Boolean AND                           |
+-------------------------------------------------+---------------------------------------+
| "not" "x"                                       | Boolean NOT                           |
+-------------------------------------------------+---------------------------------------+
| "in", "not in", "is", "is not", "<", "<=", ">", | Comparisons, including membership     |
| ">=", "!=", "=="                                | tests and identity tests              |
+-------------------------------------------------+---------------------------------------+
| "|"                                             | Bitwise OR                            |
+-------------------------------------------------+---------------------------------------+
| "^"                                             | Bitwise XOR                           |
+-------------------------------------------------+---------------------------------------+
| "&"                                             | Bitwise AND                           |
+-------------------------------------------------+---------------------------------------+
| "<<", ">>"                                      | Shifts                                |
+-------------------------------------------------+---------------------------------------+
| "+", "-"                                        | Addition and subtraction              |
+-------------------------------------------------+---------------------------------------+
| "*", "@", "/", "//", "%"                        | Multiplication, matrix                |
|                                                 | multiplication, division, floor       |
|                                                 | division, remainder [5]               |
+-------------------------------------------------+---------------------------------------+
| "+x", "-x", "~x"                                | Positive, negative, bitwise NOT       |
+-------------------------------------------------+---------------------------------------+
| "**"                                            | Exponentiation [6]                    |
+-------------------------------------------------+---------------------------------------+
| "await" "x"                                     | Await expression                      |
+-------------------------------------------------+---------------------------------------+
| "x[index]", "x[index:index]",                   | Subscription, slicing, call,          |
| "x(arguments...)", "x.attribute"                | attribute reference                   |
+-------------------------------------------------+---------------------------------------+
| "(expressions...)",  "[expressions...]", "{key: | Binding or parenthesized expression,  |
| value...}", "{expressions...}"                  | list display, dictionary display, set |
|                                                 | display                               |
+-------------------------------------------------+---------------------------------------+

-[ Footnotes ]-

[1] While "abs(x%y) < abs(y)" is true mathematically, for floats
    it may not be true numerically due to roundoff.  For example, and
    assuming a platform on which a Python float is an IEEE 754 double-
    precision number, in order that "-1e-100 % 1e100" have the same
    sign as "1e100", the computed result is "-1e-100 + 1e100", which
    is numerically exactly equal to "1e100".  The function
    "math.fmod()" returns a result whose sign matches the sign of the
    first argument instead, and so returns "-1e-100" in this case.
    Which approach is more appropriate depends on the application.

[2] If x is very close to an exact integer multiple of y, its
    possible for "x//y" to be one larger than "(x-x%y)//y" due to
    rounding.  In such cases, Python returns the latter result, in
    order to preserve that "divmod(x,y)[0] * y + x % y" be very close
    to "x".

[3] The Unicode standard distinguishes between *code points* (e.g.
    U+0041) and *abstract characters* (e.g. LATIN CAPITAL LETTER A).
    While most abstract characters in Unicode are only represented
    using one code point, there is a number of abstract characters
    that can in addition be represented using a sequence of more than
    one code point.  For example, the abstract character LATIN
    CAPITAL LETTER C WITH CEDILLA can be represented as a single
    *precomposed character* at code position U+00C7, or as a sequence
    of a *base character* at code position U+0043 (LATIN CAPITAL
    LETTER C), followed by a *combining character* at code position
    U+0327 (COMBINING CEDILLA).

    The comparison operators on strings compare at the level of
    Unicode code points. This may be counter-intuitive to humans.  For
    example, ""\u00C7" == "\u0043\u0327"" is "False", even though both
    strings represent the same abstract character LATIN CAPITAL
    LETTER C WITH CEDILLA.

    To compare strings at the level of abstract characters (that is,
    in a way intuitive to humans), use "unicodedata.normalize()".

[4] Due to automatic garbage-collection, free lists, and the
    dynamic nature of descriptors, you may notice seemingly unusual
    behaviour in certain uses of the "is" operator, like those
    involving comparisons between instance methods, or constants.
    Check their documentation for more info.

[5] The "%" operator is also used for string formatting; the same
    precedence applies.

[6] The power operator "**" binds less tightly than an arithmetic
    or bitwise unary operator on its right, that is, "2**-1" is "0.5".

Related help topics: lambda, or, and, not, in, is, BOOLEAN, COMPARISON,
BITWISE, SHIFTING, BINARY, FORMATTING, POWER, UNARY, ATTRIBUTES,
SUBSCRIPTS, SLICINGS, CALLS, TUPLES, LISTS, DICTIONARIES

In [134]:
age = 40
a = ((age > 10)  and (age < 60))
print(a)

True

In [137]:
age = 40

if age:
    print('true')
else:
    print('false')

true

In [141]:
age = 0

if bool(age) == True:
    print('true')
else:
    print('false')

false

In [139]:
bool(40)

True

In [140]:
bool(0)

False

In [142]:
bool(0)

False

In [143]:
bool(1)

True

In [144]:
bool(-1)

True

In [145]:
bool('hello')

True

In [146]:
bool('true')

True

In [147]:
bool('false')

True

In [148]:
bool(True)

True

In [149]:
bool(False)

False

In [150]:
bool('')

False

In [151]:
bool([])

False

In [152]:
bool({})

False

In [153]:
not(5)

False

In [154]:
not(bool(5))

False

In [155]:
not(True)

False

In [156]:
not(False)

True

In [157]:
not(0)

True

In [158]:
print(type(True))

<class 'bool'>

In [160]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [161]:
True = 20

SyntaxError: cannot assign to True (<ipython-input-161-51947db56523>, line 1)

In [162]:
bool

bool

In [163]:
bool = 20

In [164]:
bool(True)

TypeError: 'int' object is not callable

In [165]:
int = 'hello'

In [167]:
print(abcd)

NameError: name 'abcd' is not defined

In [170]:
print(int)

<class 'int'>

In [169]:
del int

In [171]:
age = 17
if 13 <= age <= 19:
    print('Teenager')

Teenager

In [173]:
if 13 <= age     and    age <= 19:
    print('Teenager')
    
print('Done')

Teenager
Done

In [175]:
age = 27

if age < 18:
    print('Not a Voter')
else:
    print('Voter')
    
print('Done')

Voter
Done

In [177]:
age = 55

if age < 18:
    print('Minor')
elif age < 30:
    print('Youth')
elif age < 50:
    print('Middle Age1')
elif age < 60:
    print('Middle Age2')
else:
    print('Senior Citizen')
    
    
print('Done')

Middle Age2
Done

In [179]:
age = 40

if age < 18:
    print('Minor')

if age < 30:
    print('Youth')

if age < 50:
    print('Middle Age1')

if age < 60:
    print('Middle Age2')
else:
    print('Senior Citizen')
    
    
print('Done')

Middle Age1
Middle Age2
Done

In [180]:
def mf1(n1,n2):
    s = n1 + n2
    print(s,n1,n2)
    print(id(s), id(n1),id(n2))
    
    return s

In [184]:
s1 = mf1(10,20)
print(s1)
print(id(s1))

30 10 20
8791373134528 8791373133888 8791373134208
30
8791373134528

In [183]:
id(10)

8791373133888

In [185]:
id(20)

8791373134208

In [ ]:
-5 to 255

In [186]:
mylist = []

In [187]:
print(type(mylist))

<class 'list'>

In [191]:
len(mylist)

1

In [189]:
mylist.append(10)

In [190]:
mylist

[10]

In [ ]:
0,1,1,2,3,5,8,13,21,34,55,....

# Python Prep Code

In [192]:
a= 10
b= 20
c=a
a=b
b=c
print(a,b)

20 10

In [193]:
print(a,b)
a,b = b,a
print(a,b)

20 10
10 20

In [ ]:
a,b,c = 10,20,30

In [194]:
def swap(a,b):
    return b,a

x = int(input("Enter a number "))
y = int(input("Enter a number "))
x,y = swap(x,y)
print(x,y)

Enter a number 100
Enter a number 200
200 100

In [197]:
Far = float(input("Enter the degree in Farhenheit: "))
print (Far)
c = (Far-32)*(5/9)
print (c)

Enter the degree in Farhenheit: 98.6
98.6
37.0

In [199]:
a = input("enter data")
if a == "DataScience":
    print("Values are equal")
else:
    print("Not equal")

enter dataDataScience
Values are equal

In [200]:
word=input("Enter the string: ")
if word.lower() == "datascience":
    print("Matches")
else:
    print("Mismatch")

Enter the string: DataScieNCE
Matches

In [202]:
'HeLLO'.lower()

'hello'

In [208]:
def matchData(actualvalue, expected_value):
    if(actualvalue == expected_value):
        print("The value is " , expected_value)
    else:
        print("The value is not", expected_value)

value= input("Enter the string")
matchData(value,"DataScience")

Enter the stringDataScience
The value is  DataScience

In [206]:
print(10,20)

10 20

In [207]:
print(10,20,30)

10 20 30

In [210]:
age = int(input("Enter your age: "))
if age >= 18:
    print("Eligible to vote")
else:
    print("Not eligible to vote")

Enter your age: -18
Not eligible to vote

In [211]:
age=int(input ('Enter the age: '))
if age>=18:
    print ('age above 18 is eligible,your age is: ',age)
else:
    print ('below 18 not eligible, your age is: ',age)

Enter the age: 12
below 18 not eligible, your age is:  12

In [213]:
inStr = input('enter the String')
while inStr != "Quit":
    if inStr == "DataScience":
        print('Input is DataScience')
        break
    else:
        print('Input is', inStr)
    inStr = input('enter the String')

enter the Stringhello
Input is hello
enter the Stringpython
Input is python
enter the Stringworld
Input is world
enter the StringDataScience
Input is DataScience

In [217]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("number is Even")
else:
   print("number is Odd")

Enter a number: 22
number is Even

In [214]:
def isEven(num):
    if num % 2 == 0:
        return True
    else:
        return False

In [215]:
isEven(20)

True

In [216]:
isEven(23)

False

In [224]:
CN = [11,12,13,14,15]
alen = len(CN)
index = 0
while (index < alen):
    print (index, CN[index],CN[index]**2)
    index = index + 1

0 11 121
1 12 144
2 13 169
3 14 196
4 15 225

In [222]:
lst1 = [1,2,3,4,5,6,7,8,9,10]
lst2 = []
alen=len(lst1)
index=0
while(index < alen):
    lst2.append(lst1[index]**2)
    index= index+1
print(lst1)    
print(lst2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [225]:
index = 0
valuelist = []
while index < 10:
    val = int(input("Enter a number: "))
    print(val)
    valuelist.append(val)
    index = index + 1
    
    
print("list",valuelist)

Enter a number: 11
11
Enter a number: 22
22
Enter a number: 33
33
Enter a number: 44
44
Enter a number: 55
55
Enter a number: 66
66
Enter a number: 77
77
Enter a number: 88
88
Enter a number: 99
99
Enter a number: 100
100
list [11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

In [229]:
def printMultiplicationTable(num):
    i = 1
    while i <= 10:
        mul = num * i
        print(num, " * ", i, " = ", mul)
        i += 1


number = int(input("Enter the num"))
printMultiplicationTable(number)
print()
printMultiplicationTable(6)

Enter the num4
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
4  *  10  =  40

6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
6  *  10  =  60

In [231]:
#reusable procedure for multiplation tables 
def mulTab (inNum):
    multab1 =[]
# create table till 10
    i = 1 
    while i <= 10:
        multab1.append(i * inNum)
        i = i + 1
        
    print(multab1)
    
mulTab(int(input('Enter a Number')))

Enter a Number8
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]

In [234]:
def isTrouble(time, talkingParam):
    if(talkingParam == True):
        if (time >= 7 and time <= 20):
            return True
        else:
            return False
    else:
        return False


print(isTrouble(6, True))

False

In [236]:
def isTrouble(time, talkingParam):
    
    if (talkingParam == True):
        if (time <= 7 or time >= 20):
            return True
           
    return False


print(isTrouble(6, True))

True